<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Por favor espere... </p>
  </ngx-spinner>
  <ngx-alerts></ngx-alerts>
  
  <!-- section start -->
  <section class="login-page section-b-space">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <h3>Reestablecer contraseña</h3>
          <div class="theme-card">
            <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()" class="theme-form">
                <div class="form-group ">
                    <label for="name">Ingresar contraseña</label>
                    <input type="password" formControlName="password" class="form-control" id="password"
                    placeholder="" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback d-block">
                    <div *ngIf="f.password.errors.required"> {{ required }} </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="name">Confirmar contraseña</label>
                    <input type="password" formControlName="confirm_password" class="form-control" id="email"
                    placeholder="" required [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
                    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback d-block">
                    <div *ngIf="f.confirm_password.errors.required"> {{ required }} </div>
                    <div *ngIf="f.confirm_password.errors"> {{ invalidEmail }} </div>
                    </div>
                </div>
              
                <div class="form-group text-center">
                
                <button type="submit" class="btn btn-login btn-lg w-100">Reestablecer contraseña</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section ends-->
  <app-footer-one></app-footer-one>