<app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<ngx-alerts></ngx-alerts>

<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>olvidó su contraseña</h2>
                <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter Your Email" required="">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.email.errors.required"> {{ required }} </div>
                                <div *ngIf="f.email.errors.email"> {{ invalidEmail }} </div>
                            </div>
                        </div>
                        <button class="btn btn-solid">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->