hr {
  padding: 0;
  margin: 5px 0;
}
.logo {
  height: 64px;
}

.search-bar {
  flex-grow: 1;
}

.logo-search {
  display: flex;
  flex-direction: row;
}
.lg-device {
  display: none;
}
.small-device {
  display: inline;
}
.mp-logo{
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) { 
  .small-device {
    display: none;
  }
  .lg-device {
    display: inline;
  }
  .mp-logo{
    width: 30%;
  }
}