hr {
  padding: 0;
  margin: 5px 0;
}
.logo {
  height: 64px;
}

.search-bar {
  flex-grow: 1;
}
.no-show {
  display: none !important;
}
.logo-search {
  display: flex;
  flex-direction: row;
}
.lg-device {
  display: none !important;
}
.small-device {
  display: inline;
}

@media (min-width: 768px) {
  .small-device {
    display: none;
  }
  .lg-device {
    display: inline !important;
  }
}

.banner-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 30px;
}

label {
  align-self: flex-end;
}
