<ng-template #shopDetails let-modal>
    <div class="container p-3">
        <div class="modal-container">
            <div class="modal-header">
                <h4 class="title">{{shop.name}}</h4>
                <button type="button" class="close" (click)="close('Click close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <strong>Plan actual: {{ shop.plan.description }} </strong>
                </div>
                <div class="form-group">
                    <strong>Monto del plan: {{ shop.plan.price | currency }}</strong>
                </div>
                <button class="btn btn-danger" (click)="cancelPlan()"> Cancelar plan</button>
                <div class="form-group mt-3">
                    <strong>Beneficios:</strong>
                </div>
                <div class="form-group">
                    <ul class="d-flex flex-column text-center">
                        <li class="p-2" *ngFor="let benefit of benefits">{{ benefit }}</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</ng-template>

