<app-breadcrumb [title]="'Diseño'" [breadcrumb]="'Tienda'"></app-breadcrumb>

<section class="section-b-space">
    <div class="container d-flex">
      <div class="col-md-4 flex-column pl-3 optional">
        <app-shop-submenu active="1"></app-shop-submenu>
      </div>  
      <div class="theme-form col-md-8 mx-auto" >
          <div class="form-row mb-3">
            <label class="label mr-2 my-auto" for="color">Color de la tienda</label>
            <input  class="form-control col-md-3" id="color" [(colorPicker)]="color" [style.background]="color"/>
          </div>
          
              <!-- <img src="../../../assets/images/gym-bg.jpg"/> -->
              <!-- CAROUSEL -->
              <ngb-carousel #ngcarousel>
                <ng-template *ngFor="let image of images" ngbSlide [id]="image.id">
                  <div class="picsum-img-wrapper w-100" >
                    <img [src]="image.url" alt="Angular Carousel 1">
                  </div>
                </ng-template>
                
              </ngb-carousel>
              
              <!-- END CAROUSEL-->
          
          <div class="d-flex ">
              <img class="preview px-3" [src]="image.url" *ngFor="let image of images" (click)="update(image.id)"/>
              <!--Image con el simbolo + -->
              <img class="preview px-3" src="../../../assets/images/dog.png"/>

          </div>
      </div>
    </div>
</section>