<app-breadcrumb [title]="'Diseño'" [breadcrumb]="'Tienda'"></app-breadcrumb>

<section class="section-b-space">
    <div class="container">
        <div class="theme-form col-md-6 mx-auto" >
            <div class="form-row mb-3">
                <label class="label mr-2 my-auto" for="color">Color de la tienda</label>
                <input  class="form-control col-md-3" id="color" [(colorPicker)]="color" [style.background]="color"/>
            </div>

            <!-- CAROUSEL -->
            <ngb-carousel #ngcarousel>
              <ng-template *ngFor="let image of images" ngbSlide [id]="image.id">
                <div class="picsum-img-wrapper" >
                  <img [src]="image.url" alt="Angular Carousel 1">
                </div>
              </ng-template>
              
            </ngb-carousel>
            
            <!-- END CAROUSEL-->
            
            <div class="d-flex ">
                <img class="preview px-3" *ngFor="let image of images" [src]="image.url" (click)="update(image.id)"/>
                <!--Image con el simbolo + -->
                <img class="preview px-3" src="../../../assets/images/marketplace/svg/upload-image.svg"/>

            </div>
        </div>
    </div>
</section>