<div class="row">
  <div class="col-md-3">
    <div class="media">
      <img src="../../../../assets/images/marketplace/svg/register.svg" alt="" sizes="" srcset="">
    </div>
  </div>
  <div class="col-md-3">
    <div class="media">
      <img src="../../../../assets/images/marketplace/svg/select-plan.svg" alt="" sizes="" srcset="">
    </div>
  </div>
  <div class="col-md-3">
    <div class="media">
      <img src="../../../../assets/images/marketplace/svg/online-shop.svg" alt="" sizes="" srcset="">
    </div>
  </div>
  <div class="col-md-3">
    <div class="media">
      <img src="../../../../assets/images/marketplace/svg/shop-bags.svg" alt="" sizes="" srcset="">
    </div>
  </div>
</div>