<div class="row mb-3">
  <div class="col">
    <div class="title1">
      <h2>¿Cómo puedo vincularme?</h2>
      <h3>Sigue estos pasos para reaizar una vinculación <br> exitosa</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 d-flex justify-content-center">
    <div class="text-center">
      <img class="rounded-circle" src="../../../../assets/images/marketplace/svg/register.svg" alt="" sizes=""
        srcset="">
        <h3 class="mt-3 text-red">Registrate</h3>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
    <div class="text-center">
      <img class="rounded-circle" src="../../../../assets/images/marketplace/svg/select-plan.svg" alt="" sizes=""
        srcset="">
        <h3 class="mt-3 text-red">Selecciona tu plan</h3>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center d-block">
    <div class="text-center">
      <img class="rounded-circle" src="../../../../assets/images/marketplace/svg/online-shop.svg" alt="" sizes=""
        srcset="">
        <h3 class="mt-3 text-red">Crea tu tienda</h3>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
    <div class="text-center">
      <img class="rounded-circle" src="../../../../assets/images/marketplace/svg/shop-bags.svg" alt="" sizes=""
        srcset="">
        <h3 class="mt-3 text-red">Sube productos y vende</h3>
    </div>
  </div>
</div>