<ng-template #interests let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="theme-form">
        <form>

          <div class="table-responsive-sm mt-2">
            <table class="table" *ngIf="interestsList.length>0">
              <thead>
                <th scope="col">Lista de intereses</th>
              </thead>
              <tbody>
                <tr *ngFor="let interest of interestsList">
                  <td>{{ interest.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-row container justify-content-center " *ngIf="type!='register' && interestsList.length==0">
            <div class="col-md-5">
              <div class="card text-center mx-auto mb-2">
                <div class="card-body">
                  <p>No hay intereses registrados</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</ng-template>
<div *ngIf="isPage">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Por favor espere... </p>
  </ngx-spinner>
  <ngx-alerts></ngx-alerts>
  <section class="section-b-space">
    <div class="container px-3">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="row justify-content-between px-3">
            <div class="page-title">
              <h2 class="mp-title">
                <span>Selecciona tus intereses</span>
                <div *ngIf="submitted && f.interest.errors?.required" class="invalid-feedback d-block">
                  Debe marcar al menos un interes
                </div>
              </h2>
            </div>
            <a (click)="saveInterests()" routerLinkActive="router-link-active" class="mp-side-menu">Omitir ahora</a>
          </div>
          <div class="border-box w-100 px-3 py-3">
            <form [formGroup]="interestForm" (ngSubmit)="onSubmit()" class="theme-form">
              <div class="row mb-2">
                <div class="option-box d-flex mx-auto py-2 px-2">
                  <span style="color: #b8b3b3" class="mr-2">
                    <i class="fa fa-search"></i>
                  </span>
                  <input type="text" placeholder="Buscar intereses" id="search-input" class="w-100 h-100">
                </div>
              </div>
              <div class="shipping-option" *ngIf="interestsList.length">
                <div class="row mb-3" *ngFor="let interest of interestsList; let i=index">
                  <div class="option-box d-flex mx-auto py-2">
                    <div class="col-md-11 text-center">
                      <p class="my-auto">{{interest.name}}</p>
                    </div>
                    <div class="col-md-1 text-right">
                      <input class="my-auto" formControlName="interest" [value]="interest._id" [name]="interest"
                        type="checkbox" (change)="selectInterest( $event)">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row text-center">
                <button type="submit" class="btn background-default-color" id="btn-save">
                  Guardar interses
                </button>
              </div>
            </form>
          </div>
          <div class="row mp-side-menu-responsive text-center">
            <p class="" (click)="saveInterests()">Omitir ahora</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>