<ng-template #interests let-modal>
 
    <div class="modal-content">
      <div class="modal-header">
        <div class="page-title row">
          <!-- <h4 class="px-3">
             <span> <strong>Intereses </strong>  </span> 
          </h4> -->
        </div>
        <button type="button" class="close" (click)="close()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="theme-form">
          <form>
            
            <div class="table-responsive-sm mt-2">
              <table class="table">
                <thead>
                  <th scope="col">Lista de intereses</th>
                </thead>
                <tbody>
                  <tr *ngFor="let interest of interestsList">
                    <td>{{ interest }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        
      </div>
    </div>
</ng-template>