<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<section class="section-b-space">
	<div class="container px-3">
        <div class="page-title mb-4">
            <h2 class="mp-title">
                <span>Referidos</span>
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-sm-12 border-box mb-2">
                <div class="page-title">
                    <h2 class="mp-title">
                        <span>Código</span>
                    </h2>
                </div>
                <form class="theme-form">
                    <div class="form-group">
                        <div class="field-label font-weight-bold"></div>
                        <div class="d-flex">
                            <input type="text" class="form-control" />
                            <img class="h-100"src="assets/images/marketplace/images/icons/codigo.png" alt="">
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="col-lg-5 col-md-12 col-sm-12 offset-lg-1 border-box">
                <div class="page-title">
                    <h2 class="mp-title">
                        <span>Saldo</span>
                    </h2>
                </div>
                <form class="theme-form">
                    <div class="form-group">
                        <div class="d-flex">
                            <input type="number" class="form-control" />
                            <img class="h-100"src="assets/images/marketplace/images/icons/saldo.png" alt="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
