<div class="container">
    <h2>
        Términos y condiciones de uso
    </h2>
    <hr class="mb-3">
    <h3>Información relevante</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h3>Licencia</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h3>Uso no autorizado</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h3>Propiedad</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h3>Política de reembolso y garantía</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h3>Comprobación antifraude</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h3>Privacidad</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
</div>
