<div class="container">
    <div class="page-title">
        <h4>
           <span> <strong> Términos y condiciones de uso </strong>  </span> 
        </h4>
    </div>

    <hr class="mb-3">
    <h5>Información relevante</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h5>Licencia</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h5>Uso no autorizado</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h5>Propiedad</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h5>Política de reembolso y garantía</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h5>Comprobación antifraude</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
    <h5>Privacidad</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illum unde recusandae? Inventore placeat natus beatae dolorem quisquam ea quo totam odio quos saepe, pariatur ipsam voluptatum dolorum rem vel?</p>
</div>
