.explore-btn {
    position: fixed;
}
ngb-carousel {
    max-height: 550px;
}

.img-main-banner {
    width: 100%;
    height: auto;   
    max-height: 550px; 
}
.circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--theme-deafult);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.all-option {
    border-right: 1px solid var(--mp-gray);
    padding-right: 10px;
}
@supports(object-fit: cover){
    .img-main-banner {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

@media (min-width: 768px) { 

  
}

@media (min-width: 992px) { 

}