#store-page {
    .productos-destacados {
        margin-top: 50px;
        border-top-color: var(--theme-deafault);
        border-top-style: solid;
        border-top-width: thin;
    }

    ngb-carousel {
        max-height: 550px;
    }

    .explore-btn {
        position: fixed;
    }

    .img-main-banner {
        width: 100%;
        height: auto;
        max-height: 550px;
    }
    .circle-btn {
        margin-left: 10px;
        margin-right: 10px;
        .label {
            max-width: 6rem;
        }
    }
    .circle {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: var(--theme-deafult);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    #wrap {
        flex-wrap: wrap;
    }
    .all-option {
        border-right: 2px solid var(--mp-gray);
        padding-right: 10px;
        height: 5rem;
    }

    .btn-success {
        color: #fff;
        background-color: #25d366;
        border-color: #25d366;
        font-size: 6px;
        margin-left: 5px !important;
    }

    .btn-success:hover {
        color: #fff;
        border-color: #36b546;
        background-color: #36b546;
    }

    .whatsapp {
        position: -webkit-sticky;
        position: sticky;
        bottom: 5rem;
        padding: 5px;
        z-index: 10000;
        img {
            height: 4rem;
        }
        .whatsapp-container {
            width: fit-content;
            padding: 3px 10px 3px 0;
            border-radius: 25px;
            background-color: #2bb34c;
        }
    }
    @supports (object-fit: cover) {
        .img-main-banner {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
    }
}
