<div id="store-page">
	<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
		<p style="color: white"> Por favor espere... </p>
	</ngx-spinner>

	<app-header-one [showBalance]="true" [sticky]="true" [isHidde]="false" [topbar]="false" [isSideMenu]="true"
		[hasSearchBar]="true" [themeLogo]="store.logo" [store]="store" [isStoreSearch]="true">
	</app-header-one>

	<div class="pb-5">
		<section class="p-0">
			<ngb-carousel *ngIf="sliders.length>0" #ngcarousel>
				<ng-template *ngFor="let image of sliders" ngbSlide>
					<div class="picsum-img-wrapper w-100">
						<img class="img-main-banner" [src]="image.url" alt="banner">
					</div>
				</ng-template>
			</ngb-carousel>
		</section>

		<!-- Product slider start-->
		<div class="title1 section-t-space" *ngIf="products.length">
			<div class="row">
				<div class="col">
					<div class="title-purple text-center">
						<h2>Productos Destacados</h2>
					</div>
					<div class="separator" [ngStyle]="{'background-color': color}"></div>
					<div class="description">
						{{ store.description }}
					</div>
				</div>
			</div>
		</div>
		<section class="section-b-space p-t-0 productos-destacados">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="col-md-3 ml-auto">
							<select class="form-control" name="filters">
								<option *ngFor="let option of filterOptions" [value]="option.value">
									{{option.text}}
								</option>
							</select>
						</div>
					</div>
					<div class="col">
						<owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
							<ng-container *ngFor="let product of products | slice:0:16">
								<ng-template carouselSlide>
									<div class="product-box">
										<app-product-box-one [storePage]="true" [colorBtn]="color" [product]="product" [thumbnail]="false"
											[cartModal]="false" [horizontal]="true" [store]="store">
										</app-product-box-one>
									</div>
								</ng-template>
							</ng-container>
						</owl-carousel-o>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="whatsapp clearfix">
		<div class="d-flex align-items-center whatsapp-container">
			<button type="button" class="btn btn-success rounded-circle px-1 mr-1 py-0 ml-3  waves-effect float-left"
				(click)="openChat()">
				<i class="fa fa-whatsapp fa-4x" aria-hidden="true"></i>
			</button>
			<label class="font-weight-light" style="color: white;">Escribenos al Whatsapp</label>
		</div>
	</div>
	<app-footer-one [themeLogo]="store.logo"></app-footer-one>
</div>