#cart-component {
    .table {
        table-layout: fixed;
        th {
            color: #68396d;
        }
    }

    #small-col {
        width: 10%;
    }

    .price-line-through {
        text-decoration: line-through;
    }

    input[type="checkbox"] {
        border-color: var(--theme-deafult);
    }
}
