.account-page {
    flex-direction: column;
}

.account-menu {
    flex-direction: row;
}
.tab {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    & button {
        font-size: 12px;
    }
    
}
.active {
    border: 1px solid #ccc;
    border-bottom: 1px transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    & button {
        color: var(--theme-deafult);
        font-size: 12px;

    }

}
.no-slider {
    .store-box {
        width: 100%;
        flex: 0 0 100%;
        max-width: calc(100% - 30px);
        margin: 0 15px 30px;
        &:nth-last-child(-n+4) {
            margin: 0 15px 0;
        }
    }
}

button#store-logo {
    font-size: 12px;
    text-decoration: none;
	img.store-logo {
		height: 40px;
		width: 40px;
	}
}
#store-img{
    height: 40px;
    width: 40px;
}
.drop-button{
    font-size: 12px;
}

hr {
    width: 80%; 
    margin-top: 4px;
    margin-bottom: 4px;
}
#big-icon {
    width: 30px;
    padding-right: 5px;
}

@media (min-width: 768px) { 
    .account-page {
        flex-direction: row;
    }
    
    .tab {
        border: 1px solid transparent;
        border-right: 1px solid #ccc;
        width: 100%;
    }
    .active {
        border: 1px solid transparent;
        border: 1px solid #ccc;
        border-right: 1px transparent;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        & button {
            color: var(--theme-deafult);
        }
    }
    .account-menu {
      flex-direction: column;
      //border-
      right: 1px solid #ccc
    }
    .no-slider {
        .store-box {
            flex: 0 0 50%;
            max-width: calc(50% - 30px);
            margin: 0 1px 30px;
            &:nth-last-child(-n+4) {
                margin: 0 1px 0;
            }
        }
    }
}

@media (min-width: 992px) {
    .no-slider {
        .store-box {
            flex: 0 0 50%;
            max-width: calc(50% - 30px);
            margin: 0 1px 30px;
            &:nth-last-child(-n+4) {
                margin: 0 1px 0;
            }
        }
    }
}

@media (min-width: 1200px) { 
    .no-slider {
        .store-box {
            flex: 0 0 30%;
            max-width: calc(30% - 30px);
            margin: 0 1px 30px;
            &:nth-last-child(-n+4) {
                margin: 0 1px 0;
            }
        }
    }
}


