<div class="container">
	<div class="d-flex account-page">
		<div class="row user-row mx-auto mp-side-menu-responsive">
			<div ngbDropdown *ngIf="user.role === 'merchant'">
				<button class="btn btn-link text-default-color" id="store-logo" ngbDropdownToggle>
					<img class="rounded-circle store-logo mr-1" [src]="selectedStore.logo ? selectedStore.logo : standardImage">
					{{ selectedStore.name ? selectedStore.name : 'Crear nueva tienda' }}
				</button>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<div *ngIf="stores.length">
						<button type="button" class="drop-button" (click)="selectStore(store)" *ngFor="let store of stores"
							[value]="store._id" ngbDropdownItem>
							{{store.name}}
						</button>
					</div>
					<hr>
					<button type="button" class="drop-button" (click)="createStore()" ngbDropdownItem>
						+ Nueva tienda
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-0 mp-side-menu">
			<div class="row user-row">
				<div ngbDropdown *ngIf="user.role === 'merchant'" class="d-flex flex-column w-100">
					<img class="rounded-circle store-logo mx-auto" id="store-img"
						[src]="selectedStore.logo ? selectedStore.logo : standardImage">
					<button class="btn btn-link text-default-color" id="store-logo" ngbDropdownToggle>
						{{ selectedStore.name ? selectedStore.name : 'Crear nueva tienda' }}
					</button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
						<div *ngIf="stores.length">
							<button type="button" class="drop-button" (click)="selectStore(store)" *ngFor="let store of stores"
								[value]="store._id" ngbDropdownItem>
								{{store.name}}
							</button>
						</div>
						<hr>
						<button type="button" class="drop-button" (click)="createStore()" ngbDropdownItem>
							+ Nueva tienda
						</button>
					</div>
				</div>
			</div>
			<div class="d-flex account-menu justify-content-center" id="" user.role="tablist">
				<div class="tab">
					<button class="btn "></button>
				</div>
				<div class="user-menu" *ngIf="user.role == 'client'">
					<div *ngFor="let tab of clientOptions" class="tab" (click)="updateTab(tab.key)"
						[ngClass]="{'active': active===tab.key,'tab': active!==tab.key}">
						<button class="btn btn-tab">
							<img [src]="tab.icon" alt="" [id]="tab.id">
							{{ tab.name }}
						</button>
					</div>
				</div>
				<div class="admin-store-menu" *ngIf="user.role == 'merchant'">
					<div *ngFor="let tab of adminStoreOptions" class="tab" (click)="updateTab(tab.key)"
						[ngClass]="{'active': active===tab.key,'tab': active!==tab.key}">
						<button class="btn btn-tab">
							<img [src]="tab.icon" alt="" [id]="tab.id">
							{{ tab.name }}
						</button>
					</div>
				</div>
				<div class="admin-menu" *ngIf="user.role == 'admin'">
					<div *ngFor="let tab of adminOptions" class="tab" (click)="updateTab(tab.key)"
						[ngClass]="{'active': active===tab.key,' tab': active!==tab.key}">
						<button class="btn btn-tab">
							<img [src]="tab.icon" alt="" [id]="tab.id">
							{{ tab.name }}
						</button>
					</div>
				</div>
				<div class="tab" (click)="updateTab('logout')"
					[ngClass]="{'active': active==='logout','tab': active!=='logout'}">
					<button class="btn btn-tab" (click)="loggOut()">
						<img src="assets/images/marketplace/images/icons/logout.png" alt="">
						Cerrar Sesión
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-12">
			<div class="tab-content" id="myTabContent">
				<div *ngIf="active=='profile'" class="" id="profile" user.role="tabpanel">
					<app-profile></app-profile>
				</div>
				<div *ngIf="active==='orders'" class="" id="order" user.role="tabpanel">
					<app-user-orders></app-user-orders>
				</div>
				<div *ngIf="active==='stores'" class="" id="contact" user.role="tabpanel">
					<div *ngIf="user.role !== 'admin'">
						<app-stores-list [stores]="stores"></app-stores-list>
					</div>
					<app-shops *ngIf="user.role==='admin'"></app-shops>
				</div>
				<div *ngIf="active==='dashboard'" class="" id="dashboard">
					<app-dashboard [store]="selectedStore"></app-dashboard>
				</div>
				<div *ngIf="active==='products'" class="" id="products">
					<app-products [store]="selectedStore"></app-products>
				</div>
				<div *ngIf="active==='admin-orders'" class="" id="admin-orders">
					<app-orders [store]="selectedStore"></app-orders>
				</div>
				<div *ngIf="active==='referrals'" id="referrals">
					<app-referrals></app-referrals>
				</div>
				<div *ngIf="active==='support'" class="" id="support">
					<app-support [store]="selectedStore"></app-support>
				</div>
				<div *ngIf="active==='plans'" class="" id="plans">
					<app-memberships></app-memberships>
				</div>
				<div *ngIf="active==='commissions'" class="" id="commissions">
					<app-commissions></app-commissions>
				</div>
				<div *ngIf="active=='admin-store'" class="" id="admin-store">
					<div class="form-row labels mp-side-menu " *ngIf="stores.length > 0">
						<div class="row col-lg-12">
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('store-profile')">
									<div class="d-flex flex-fill justify-content-center align-items-center ">
										<p class="my-auto" [ngClass]="{'text-default-color': subtab=='store-profile'}">
											Perfil de tienda
										</p>
									</div>
								</div>
							</div>

							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('design')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='design'}">
												Diseño de tienda
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('suscription')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill  justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='suscription'}">
												Suscripción
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('withdrawal')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='withdrawal'}">
												Retiro de Dinero
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('shipping')">
									<div class="d-flex flex-fill justify-content-center align-items-center ">
										<p class="my-auto" [ngClass]="{'text-default-color': subtab=='shipping'}">
											Configuración de zonas
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row col-lg-12">
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('create-referrals')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='create-referrals'}">
												Referidos
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('referrals-list')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill  justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='referrals-list'}">
												Lista de referidos
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label ">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('yy')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='yy'}">

											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label ">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('zz')">
									<div class="d-flex flex-fill justify-content-center align-items-center ">
										<p class="my-auto" [ngClass]="{'text-default-color': subtab=='zz'}">

										</p>
									</div>
								</div>
							</div>
							<div class="col label ">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('nn')">
									<div class="d-flex flex-fill justify-content-center align-items-center ">
										<p class="my-auto" [ngClass]="{'text-default-color': subtab=='nn'}">

										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<app-shop-profile *ngIf="active=='admin-store' && subtab=='store-profile' && stores.length > 0"
						(updateShop)="updateShop($event)" [store]="selectedStore">
					</app-shop-profile>
					<app-register-store [register]="false" [_user]="user" (callback)="init()"
						*ngIf="active=='admin-store' && subtab=='store-profile' && stores.length == 0">
					</app-register-store>

					<app-shop-design *ngIf="active=='admin-store' && subtab=='design'" [store]="selectedStore"
						(updateShop)="updateShop($event)">
					</app-shop-design>

					<app-shop-suscription *ngIf="active=='admin-store' && subtab=='suscription'" [store]="selectedStore">
					</app-shop-suscription>
					<app-shop-withdrawal *ngIf="active=='admin-store' && subtab=='withdrawal'" [store]="selectedStore">
					</app-shop-withdrawal>
					<app-shipping-zones *ngIf="active=='admin-store' && subtab=='shipping'" [store]="selectedStore">
					</app-shipping-zones>
					<app-create-referrals *ngIf="active=='admin-store' && subtab=='create-referrals'" [store]="selectedStore"
						(updateShop)="updateShop($event)">
					</app-create-referrals>
					<div *ngIf="active=='admin-store' && subtab=='referrals-list'" id="referrals">
						<app-referrals [store]="selectedStore"></app-referrals>
					</div>

				</div>
				<!-- Reportes -->
				<div *ngIf="active==='reports'" class="" id="reports">
					<app-admin-reports *ngIf="user.role==='admin'"></app-admin-reports>
					<app-reports *ngIf="user.role==='merchant'" [store]="selectedStore"></app-reports>
				</div>
				<app-terms-and-conditions *ngIf="active==='terms'" [edit]="true">

				</app-terms-and-conditions>
				<app-payment-manager *ngIf="active==='card'"></app-payment-manager>
			</div>
		</div>
	</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Información importante</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Se han detectado que la configuración de tu tienda no esta completa!</p>
		<p *ngIf="!selectedStore.config.color" class="text-danger ml-3">No has seleccionado color</p>
		<p *ngIf="!selectedStore.config.font" class="text-danger ml-3">No has seleccionado tipografía</p>
		<p *ngIf="!selectedStore.config.images.length" class="text-danger ml-3">No tienes banners</p>
		<p *ngIf="!hasShipments">Se ha detectado que no has creado <strong>Zonas de envío</strong>, sin estas no podrás
			vender </p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>

<ng-template #registerNewStore>
	<app-register-store #registerNewStore [modal]="true" [register]="false" [_user]="user" (callback)="close($event)"
		[step]="step">
	</app-register-store>
</ng-template>