<div class="container">
	<div class="d-flex account-page">
		<div class="row user-row mx-auto mp-side-menu-responsive">
			<div ngbDropdown *ngIf="user.role === 'merchant'">
				<button class="btn btn-link text-default-color" id="store-logo" ngbDropdownToggle>
					<img class="rounded-circle store-logo mr-1" [src]="selectedStore.logo ? selectedStore.logo : standardImage">
					{{ selectedStore.name ? selectedStore.name : 'Crear nueva tienda' }}
				</button>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<div *ngIf="stores.length">
						<button type="button" class="drop-button" (click)="selectStore(store)" *ngFor="let store of stores"
							[value]="store._id" ngbDropdownItem>
							{{store.name}}
						</button>
					</div>
					<hr>
					<button type="button" class="drop-button" (click)="createStore()" ngbDropdownItem>
						+ Nueva tienda
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-0 mp-side-menu">
			<div class="row user-row">
				<div ngbDropdown *ngIf="user.role === 'merchant'" class="d-flex flex-column w-100">
					<img class="rounded-circle store-logo mx-auto" id="store-img"
						[src]="selectedStore.logo ? selectedStore.logo : standardImage">
					<button class="btn btn-link text-default-color" id="store-logo" ngbDropdownToggle>
						{{ selectedStore.name ? selectedStore.name : 'Crear nueva tienda' }}
					</button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
						<div *ngIf="stores.length">
							<button type="button" class="drop-button" (click)="selectStore(store)" *ngFor="let store of stores"
								[value]="store._id" ngbDropdownItem>
								{{store.name}}
							</button>
						</div>
						<hr>
						<button type="button" class="drop-button" (click)="createStore()" ngbDropdownItem>
							+ Nueva tienda
						</button>
					</div>
				</div>
			</div>
			<div class="d-flex account-menu justify-content-center" id="" user.role="tablist">
				<div class="tab">
					<button class="btn "></button>
				</div>
				<div class="user-menu">
					<div class="tab" (click)="updateTab('profile')"
						[ngClass]="{'active': active=='profile','btn tab': active!='profile'}">
						<button class="btn btn-tab" id="profile-tab">
							<img src="assets/images/marketplace/images/icons/profile.png" id="user-icon" alt="">
							Mi perfil
						</button>
					</div>
					<div class="tab" (click)="updateTab('orders')" *ngIf="user.role=='client'"
						[ngClass]="{'active': active=='orders','btn tab': active!='orders'}">
						<button class="btn btn-tab" id="order-tab">
							<img src="assets/images/marketplace/images/icons/orders.png" alt="">
							Mis Órdenes
						</button>
					</div>
					<div class="tab" (click)="updateTab('referrals')" *ngIf="user.role=='client'"
						[ngClass]="{'active': active=='referrals','btn tab': active!='referrals'}">
						<button class="btn btn-tab" id="order-tab">
							<img src="assets/images/marketplace/images/icons/orders.png" alt="">
							Referidos
						</button>
					</div>
					<div class="tab" (click)="updateTab('stores')"
						[ngClass]="{'active': active==='stores','btn tab': active!=='stores'}" *ngIf="user.role == 'merchant'">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/store.png" alt="">
							Mis tiendas
						</button>
					</div>
				</div>

				<div class="admin-menu">
					<div class="tab" (click)="updateTab('dashboard')" *ngIf="user.role=='merchant' || user.role=='admin'"
						[ngClass]="{'active': active==='dashboard','btn tab': active!=='dashboard'}">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/tablero.png" alt="">
							Tablero
						</button>
					</div>
					<div class="tab" (click)="updateTab('products')" *ngIf="user.role=='merchant' || user.role=='admin'"
						[ngClass]="{'active': active==='products','btn tab': active!=='products'}">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/productos.png" alt="">
							Productos
						</button>
					</div>
					<div class="tab" (click)="updateTab('admin-orders')" *ngIf="user.role=='merchant' || user.role=='admin'"
						[ngClass]="{'active': active==='admin-orders','btn tab': active!=='admin-orders'}">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/orders.png" alt="">
							Órdenes
						</button>
					</div>
					<div class="tab" (click)="updateTab('stores')" *ngIf="user.role=='admin'"
						[ngClass]="{'active': active=='stores','btn tab': active!='stores'}">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/store.png" alt="">
							Tiendas
						</button>
					</div>
					<div class="tab" (click)="updateTab('commissions')" *ngIf="user.role=='admin'"
						[ngClass]="{'active': active=='commissions','btn tab': active!='commissions'}">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/store.png" alt="">
							Comisiones
						</button>
					</div>
					<div class="tab" (click)="updateTab('plans')" *ngIf="user.role=='admin'"
						[ngClass]="{'active': active=='plans','btn tab': active!='plans'}">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/store.png" alt="">
							Planes
						</button>
					</div>
					<div class="tab" *ngIf="user.role=='merchant'" (click)="updateTab('admin-store')"
						[ngClass]="{'active': active=='admin-store','btn tab': active!='admin-store'}">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/store.png" alt="">
							Tienda
						</button>
					</div>
					<div class="tab" (click)="updateTab('reports')" *ngIf="user.role=='merchant' || user.role=='admin'"
						[ngClass]="{'active': active==='reports','btn tab': active!=='reports'}">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/report.png" alt="">
							Reportes
						</button>
					</div>
					<div class="tab" (click)="updateTab('support')" *ngIf="user.role=='merchant' || user.role=='client'"
						[ngClass]="{'active': active==='support','btn tab': active!=='support'}">
						<button class="btn btn-tab">
							<img src="assets/images/marketplace/images/icons/help.png" id="big-icon" alt="">
							Ayuda
						</button>
					</div>
				</div>
				<div class="tab" (click)="updateTab('logout')"
					[ngClass]="{'active': active==='logout','btn tab': active!=='logout'}">
					<button class="btn btn-tab" (click)="loggOut()">
						<img src="assets/images/marketplace/images/icons/logout.png" alt="">
						Cerrar Sesión
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-12">
			<div class="tab-content" id="myTabContent">
				<div *ngIf="active=='profile'" class="" id="profile" user.role="tabpanel">
					<app-profile></app-profile>
				</div>
				<div *ngIf="active==='orders'" class="" id="order" user.role="tabpanel">
					<app-user-orders></app-user-orders>
				</div>
				<div *ngIf="active==='stores'" class="" id="contact" user.role="tabpanel">
					<div *ngIf="user.role==='merchant'">
						<app-stores-list [stores]="stores"></app-stores-list>
					</div>
					<app-shops *ngIf="user.role==='admin'"></app-shops>
				</div>
				<div *ngIf="active==='dashboard'" class="" id="dashboard">
					<app-dashboard [store]="selectedStore"></app-dashboard>
				</div>
				<div *ngIf="active==='products'" class="" id="products">
					<app-products [store]="selectedStore"></app-products>
				</div>
				<div *ngIf="active==='admin-orders'" class="" id="admin-orders">
					<app-orders [store]="selectedStore"></app-orders>
				</div>
				<div *ngIf="active==='referrals'" id="referrals">
					<app-referrals></app-referrals>
				</div>
				<div *ngIf="active==='support'" class="" id="support">
					<app-support [store]="selectedStore"></app-support>
				</div>
				<div *ngIf="active==='plans'" class="" id="plans">
					<app-memberships></app-memberships>
				</div>
				<div *ngIf="active==='commissions'" class="" id="commissions">
					<app-commissions></app-commissions>
				</div>
				<div *ngIf="active=='admin-store'" class="" id="admin-store">
					<div class="form-row labels mp-side-menu " *ngIf="stores.length > 0">
						<div class="row col-lg-12">
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('store-profile')">
									<div class="d-flex flex-fill justify-content-center align-items-center ">
										<p class="my-auto" [ngClass]="{'text-default-color': subtab=='store-profile'}">
											Perfil de tienda
										</p>
									</div>
								</div>
							</div>

							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('design')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='design'}">
												Diseño de tienda
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('suscription')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill  justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='suscription'}">
												Suscripción
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('withdrawal')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='withdrawal'}">
												Retiro de Dinero
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('shipping')">
									<div class="d-flex flex-fill justify-content-center align-items-center ">
										<p class="my-auto" [ngClass]="{'text-default-color': subtab=='shipping'}">
											Configuración de zonas
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row col-lg-12">
							<div class="col label card">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('create-referrals')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='create-referrals'}">
												Referidos
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label ">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('xx')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill  justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='xx'}">

											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label ">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('yy')">
									<div class="d-flex flex-fill justify-content-center align-items-center">
										<div class="d-flex flex-fill justify-content-center align-items-center">
											<p class="my-auto" [ngClass]="{'text-default-color':subtab=='yy'}">

											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col label ">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('zz')">
									<div class="d-flex flex-fill justify-content-center align-items-center ">
										<p class="my-auto" [ngClass]="{'text-default-color': subtab=='zz'}">

										</p>
									</div>
								</div>
							</div>
							<div class="col label ">
								<div class="d-flex flex-row h-100" (click)="updateSubtab('nn')">
									<div class="d-flex flex-fill justify-content-center align-items-center ">
										<p class="my-auto" [ngClass]="{'text-default-color': subtab=='nn'}">

										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<app-shop-profile *ngIf="active=='admin-store' && subtab=='store-profile' && stores.length > 0"
						(updateShop)="updateShop($event)" [store]="selectedStore">
					</app-shop-profile>
					<app-register-store [register]="false" [_user]="user" (callback)="init()"
						*ngIf="active=='admin-store' && subtab=='store-profile' && stores.length == 0">
					</app-register-store>

					<app-shop-design *ngIf="active=='admin-store' && subtab=='design'" [store]="selectedStore"
						(updateShop)="updateShop($event)">
					</app-shop-design>

					<app-shop-suscription *ngIf="active=='admin-store' && subtab=='suscription'" [store]="selectedStore">
					</app-shop-suscription>
					<app-shop-withdrawal *ngIf="active=='admin-store' && subtab=='withdrawal'" [store]="selectedStore">
					</app-shop-withdrawal>
					<app-shipping-zones *ngIf="active=='admin-store' && subtab=='shipping'" [store]="selectedStore">
					</app-shipping-zones>
					<app-create-referrals *ngIf="active=='admin-store' && subtab=='create-referrals'" [store]="selectedStore"
						(reload)="reload($event)">
					</app-create-referrals>

				</div>
				<!-- Reportes -->
				<div *ngIf="active==='reports'" class="" id="reports">
					<app-admin-reports *ngIf="user.role==='admin'"></app-admin-reports>
					<app-reports *ngIf="user.role==='merchant'" [store]="selectedStore"></app-reports>
				</div>
			</div>
		</div>
	</div>

</div>
<ng-template #registerNewStore>
	<app-register-store #registerNewStore [modal]="true" [register]="false" [_user]="user" (callback)="close($event)">
	</app-register-store>
</ng-template>