h3 {
    text-transform: capitalize;
}

.border-top-none {
    border-top: none;
}
.nav-tabs {
    border-bottom: 1px solid var(--mp-pink-light);
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-link:hover {
    border-top: 1px solid var(--mp-pink-light);
    border-left: 1px solid var(--mp-pink-light);
    border-right: 1px solid var(--mp-pink-light);
    color: black;
}

.nav-link {
    color: black;
}
