<!-- Register Store Section -->
<section class="register-page-mp section-b-space" *ngIf="step==1">
    <div class="container">
        <!-- TIMELINE -->
        <div class="d-flex mb-3" style="height: 10vh;">
            <button type="button" class="btn btn-link" (click)="back()">Link</button>
            <app-timeline *ngIf="step==1" class="mx-auto" [active]="step+1"></app-timeline>   
        </div>
        <!-- TIMELINE-->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3>Configura tu tienda</h3>
                <div class="theme-card">
                    <form [formGroup]="storeForm" class="theme-form">
                        <p class="text-center">Selecciona el plan de tu preferencia</p>
                        <div class="d-flex justify-content-center mx-auto">
                            <div class="d-flex w-50 justify-content-center mb-3 px-5" *ngFor="let plan of plans">
                                <div class="d-flex flex-fill justify-content-center" (click)="updatePlan(plan._id)">
                                    <div class="d-flex flex-fill justify-content-center h-100 p-3 plan"
                                        [class.plan-selected]="planSelected==plan._id">
                                        <p class="my-auto text-capitalize">{{plan.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Shop name -->
                        <div class="form-group input-group">
                            <input type="text" class="form-control" id="name" placeholder="Nombre de la tienda"
                                required="" formControlName="name">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/home.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.name.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <!-- Url -->
                        <div class="form-group input-group">
                            <input type="url" class="form-control" id="url_store" placeholder="Ej. www.store.com"
                                required="" formControlName="url_store">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/left-align.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && f.url_store.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.url_store.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="form-group input-group">
                            <textarea formControlName="description" type="text" class="form-control mb-2"
                                id="exampleFormControlTextarea1" placeholder="Descripción de la tienda"
                                required=""></textarea>
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.description.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <!-- Phone -->
                        <div class="form-group input-group">
                            <input type="tel" class="form-control" id="review" placeholder="Teléfono de la tienda"
                                required="" formControlName="phone">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/phone.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.phone.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <!-- Shop email -->
                        <div class="form-group input-group">
                            <input type="email" class="form-control" id="review" placeholder="Email de la tienda"
                                required="" formControlName="email">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/email.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.email.errors.required"> {{ required }} </div>
                                <div *ngIf="f.email.errors.email"> {{ invalidEmail }} </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <p for="logo">Seleccione un logo para su tienda</p>
                        </div>
                        <div class="form-group text-center">
                            <app-upload-image (uploadImage)="uploadImage($event)"></app-upload-image>
                        </div>

                        <div class="form-gruop text-center">
                            <button class="btn btn-solid" (click)="storeRegister()">Registrar tienda</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Register Product Section -->
<section class="register-page-mp section-b-space" *ngIf="step==2">
    <div class="container">
        <!-- TIMELINE -->
        <div class="d-flex mb-3" style="height: 10vh;">
            <app-timeline *ngIf="step==2" class="mx-auto" [active]="step+1"></app-timeline>   
        </div>
        <!-- TIMELINE-->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3 class="mx-auto">Configura tu primer producto</h3>
                <div class="theme-card">
                    <form [formGroup]="productForm" class="theme-form">
                        <div class="form-group input-group">
                            <input formControlName="name" type="text" class="form-control" id="name"
                                placeholder="Nombre del producto" required="">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img class="h-100" src="../../../../assets/images/marketplace/svg/bag.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && p.name.errors" class="invalid-feedback d-block">
                                <div *ngIf="p.name.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <div class="form-group input-group">
                            <input currencyMask formControlName="price" type="text" class="form-control" id="price"
                                placeholder="Precio del producto" required="">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img class="h-100" src="../../../../assets/images/marketplace/svg/dolar.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && p.price.errors" class="invalid-feedback d-block">
                                <div *ngIf="p.price.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <div class="form-group input-group">
                            <input currencyMask formControlName="tax" type="text" class="form-control" id="review"
                                placeholder="Impuesto del producto" required="">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img class="h-100" src="../../../../assets/images/marketplace/svg/dolar.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && p.tax.errors" class="invalid-feedback d-block">
                                <div *ngIf="p.tax.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <!-- Categoria -->
                        <div class="mx-auto form-group input-group">
                            <select formControlName="category" class="form-control" name="category"
                                [(ngModel)]="selectedCategory">
                                <option value="" selected>Seleccione una categoría</option>
                                <option *ngFor="let category of categories" [value]="category._id">
                                    {{category.name}}</option>
                            </select>
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/left-align.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && p.category.errors" class="invalid-feedback d-block">
                                <div *ngIf="p.category.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <!-- Descripcion del producto -->
                        <div class="mx-auto mb-2">
                            <textarea formControlName="description" type="text" class="form-control"
                                id="descriptionProduct" placeholder="Descripción del producto" required=""></textarea>
                            <div *ngIf="submitted && p.description.errors" class="invalid-feedback d-block">
                                <div *ngIf="p.description.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <div class="mx-auto mb-2">
                            <p for="logo">Seleccione una imagen para el artículo</p>
                        </div>
                        <div class="form-group">
                            <app-upload-image (uploadImage)="uploadImage($event)"></app-upload-image>
                        </div>
                        <div class="form-gruop text-center">
                            <button class="btn btn-solid" (click)="productRegister()">Registrar producto</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<app-success-modal #successModal></app-success-modal>