<section class="register-page section-b-space" *ngIf="step==1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Configura tu tienda</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <p>Selecciona el plan de tu preferencia</p>

                        <div class="form-row">
                            
                            <div class="col-md-6" id="center-">
                                <div class="plan"  [class.plan-selected]="planSelected==1" (click)="updatePlan(1)">
                                    <h5>MEMBRESÍA BÁSICA</h5>
                                    <h4><strong>0.00BI</strong></h4>
                                    
                                    <ul class="list">
                                        <li>Logo de la tienda</li>
                                        <li>Paleta de colores</li>
                                        <li>Tipografía</li>
                                        <li>Máximo 10 productos</li>
                                        <li>Fotos y características de productos (color y talla)</li>
                                        <li>Reporte</li>
                                        <li>NO INCLUYE INVENTARIO</li>
                                    </ul>
                                    <div class="plan-btn">
                                        <div class="share">
                                            <button class="btn" [class.btn-outline]="planSelected!=1" [class.btn-solid]="planSelected==1">Compartir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div [class.plan-selected]="planSelected==2" class="plan" (click)="updatePlan(2)">
                                    <h5>MEMBRESÍA Premium</h5>
                                    <h4><strong>8.88BI</strong></h4>
                                    <ul class="list">
                                        <li>Logo de la tienda</li>
                                        <li>Paleta de colores</li>
                                        <li>Tipografía</li>
                                        <li>Productos ilimitados</li>
                                        <li>Fotos y características de productos (color, talla, cantidad y marca)</li>
                                        <li>Pasarela de Pago</li>
                                        <li>Plan de compensaciones</li>
                                        <li>Inventario</li>
                                        <li>Reportes</li>
                                    </ul>

                                    <div class="plan-btn">
                                        <div class="payment">
                                            <button class="btn" [class.btn-outline]="planSelected!=2" [class.btn-solid]="planSelected==2">TDC</button>
                                        </div>
                                        <div class="share">
                                            <button class="btn" [class.btn-outline]="planSelected!=2" [class.btn-solid]="planSelected==2">Compartir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-6" id="center-mb">
                                <label for="email">Nombre</label>
                                <input type="text" class="form-control" id="fname" placeholder="Nombre" required="">
                            </div>
                            <div class="col-md-6" id="center-mb">
                                <label for="email">URL</label>
                                <input type="url" class="form-control" id="url" placeholder="Ej. www.store.com" required="">
                            </div>
                            <div class="col-md-6" id="center-mb">
                                <label for="review">Descripción</label>
                                <textarea type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="Descripción de la tienda" required=""></textarea>
                            </div>
                            <div class="col-md-6" id="center-mb">
                                <label for="review">Teléfono</label>
                                <input type="tel" class="form-control" id="review" placeholder="Ingrese número de contacto" required="">
                            </div>
                            <div class="col-md-6" id="center-mb">
                                <label for="review">Email</label>
                                <input type="email" class="form-control" id="review" placeholder="Ingrese email de contacto" required="">
                            </div>
                            <div class="col-md-6" id="center-mb">
                                <p for="logo">Seleccione un logo para su tienda</p>
                            </div>
                            <div class="form-row col-md-6" id="center-mb">
                                <div class="col-md-4">
                                    
                                    <img class="thumbnail" [src]="imageLogo" id="logo"/>
                                </div>
                                <div class="col-md-2">
                                    <input class="" type="file" id="upload-logo" (change)="updateImage($event)" placeholder="Seleccionar imagen..."/>
                                </div>
                            </div>
                        
                        <div class="form-gruop" id="btn-center">
                            <button class="btn btn-solid" (click)="storeRegister()">Registrar tienda</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="register-page section-b-space" *ngIf="step==2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Configura tu primer producto</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        
                        <div class="col-md-6" id="center-mb">
                            <label for="name">Nombre del artículo</label>
                            <input type="text" class="form-control" id="name" placeholder="Nombre" required="">
                        </div>
                        <div class="col-md-6" id="center-mb">
                            <label for="category">Categoría</label>
                            <select class="form-control" name="category" >
                                <option value="" selected>Select Country</option>
                                <option *ngFor="let category of categories" value="India">India</option>
                            </select>
                            <!-- <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required" class="text text-danger">
                             Categoria requerida
                            </div> -->
                        </div>
                        <div class="col-md-6" id="center-mb">
                            <label for="price">Precio</label>
                            <input type="number" class="form-control" id="price" placeholder="0.0" required="">
                        </div>
                        <div class="col-md-6" id="center-mb">
                            <label for="review">Impuesto</label>
                            <input type="number" class="form-control" id="review" placeholder="0.0" required="">
                        </div>
                        <div class="col-md-6" id="center-mb">
                            <label for="exampleFormControlTextarea1">Descripción</label>
                            <textarea type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="Descripción del producto" required=""></textarea>
                        </div>
                        <div class="col-md-6" id="center-mb">
                            <p for="logo">Seleccione una imagen para el artículo</p>

                        </div>
                        <div class="form-row col-md-6" id="center-mb">
                            <div class="col-md-4">
                                
                                <img class="thumbnail" [src]="imageProduct" id="logo"/>
                            </div>
                            <div class="col-md-2">
                                <input class="" type="file" id="upload-logo" (change)="updateImage($event)" placeholder="Seleccionar imagen..."/>
                            </div>
                        </div>
                        <div class="form-gruop" id="btn-center">
                            <button class="btn btn-solid" (click)="productRegister()">Registrar producto</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>