.img-main-banner {
    width: 100%;
    height: auto;
}
.thumbnail-image {
    height: 100%;
}
@supports (object-fit: cover) {
    .img-main-banner {
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
}

.volver {
    color: var(--theme-deafult);
}
