<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>

<section class="section-b-space">
	<div class="container padding-cls">
		<div class="checkout-page">
			<div class="checkout-form">
				<form>
					<div class="row">
						<div class="col-lg-6 col-sm-12 col-xs-12 mb-3">
							<div class="border-box">
								<div class="checkout-title">
									<h3>Mis datos/ Dirección</h3>
									<p> Completa estos datos para que tu vendedor sepa donde te encuentras ubicado</p>
								</div>
								<form [formGroup]="checkoutForm" class="theme-form">
									<div class="row check-out">
										<div class="form-group col-md-6 col-sm-6 col-xs-12">
											<div class="field-label">Nombre</div>
											<input type="text" name="firstname" [formControl]="checkoutForm.controls['firstname']" value=""
												placeholder="" autocomplete="off">
											<div *ngIf="submitted && checkoutForm.controls.firstname.errors?.required"
												class="text text-danger">
												Nombre es requerido.
											</div>
											<div *ngIf="submitted && checkoutForm.controls.firstname.errors?.pattern"
												class="text text-danger">
												Name debe ser sólo letras.
											</div>
										</div>
										<div class="form-group col-md-6 col-sm-6 col-xs-12">
											<div class="field-label">Apellido </div>
											<input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']" value=""
												placeholder="" autocomplete="off">
											<div *ngIf="submitted && checkoutForm.controls.lastname.errors?.required"
												class="text text-danger">
												Apellido es requerido.
											</div>
											<div *ngIf="submitted && checkoutForm.controls.lastname.errors?.pattern" class="text text-danger">
												Apellido debe ser sólo letras.
											</div>
										</div>
										<div class="form-group col-md-6 col-sm-6 col-xs-12">
											<div class="field-label">Teléfono</div>
											<input type="text" name="phone" [formControl]="checkoutForm.controls['phone']" value=""
												placeholder="" autocomplete="off">
											<div *ngIf="submitted && checkoutForm.controls.phone.errors?.required" class="text text-danger">
												Teléfono es requerido.
											</div>
											<div *ngIf="submitted && checkoutForm.controls.phone.errors?.pattern" class="text text-danger">
												Teléfono debe ser un número válido.
											</div>
										</div>
										<div class="form-group col-md-6 col-sm-6 col-xs-12">
											<div class="field-label">Email</div>
											<input type="text" name="email" [formControl]="checkoutForm.controls['email']" value=""
												placeholder="" autocomplete="off">
											<div *ngIf="submitted && checkoutForm.controls.email.errors?.required" class="text text-danger">
												Email es requerido
											</div>
											<div *ngIf="submitted && checkoutForm.controls.email.errors?.email" class="text text-danger">
												Email inválido
											</div>
										</div>
										<div class="form-group col-md-12 col-sm-12 col-xs-12">
											<div class="field-label">Dirección</div>
											<textarea id="exampleFormControlTextarea1" type="text" name="address"
												[formControl]="checkoutForm.controls['address']" [value]="address" placeholder="" autocomplete="off"
												ngx-google-places-autocomplete #placesRef="ngx-places"
												(onAddressChange)="handleAddressChange($event)"></textarea>
											<div *ngIf="submitted && checkoutForm.controls.address.errors?.required" class="text text-danger">
												Dirección requerida
											</div>
											<div *ngIf="submitted && checkoutForm.controls.address.errors?.maxlength"
												class="text text-danger">
												Maximum 50 character
											</div>
										</div>
										<div class="form-group col-md-12 col-sm-12 col-xs-12">
											<div class="field-label">Punto de referencia</div>
											<textarea id="exampleFormControlTextarea1" type="text" name="address"
												[formControl]="checkoutForm.controls['address']" value="" placeholder=""
												autocomplete="off"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="col-lg-6 col-sm-12 col-xs-12">
							<div class="border-box h-100">
								<div class="shipping-options d-flex flex-column h-100">
									<div class="checkout-title">
										<h3>Opciones de envío</h3>
										<p> Completa estos datos para que tu vendedor sepa donde te encuentras ubicado
										</p>
									</div>
									<div class="shipping-option" *ngIf="shipmentOptions.length">
										<div class="row mb-3" *ngFor="let item of shipmentOptions">
											<div class="option-box d-flex mx-auto py-3">
												<div class="col-md-6">
													<p class="my-auto">{{item.name}} - {{item.price | currency }}</p>
												</div>
												<div class="col offset-xl-4 text-center">
													<input class="my-auto" type="radio">
												</div>
											</div>
										</div>
									</div>
									<div class="shipping-option" *ngIf="!shipmentOptions.length">
										<div class="row mb-3">
											<div class="option-box d-flex mx-auto py-3">
												<div class="col-md-12">
													<p class="my-auto">No hay opciones disponibles</p>
												</div>
											</div>
										</div>
									</div>

									<agm-map [latitude]="latitude" [longitude]="longitude">
										<agm-marker [latitude]="latitude" [longitude]="longitude"  [markerDraggable]="true"
										(dragEnd)="markerDragEnd($event)"></agm-marker>
									</agm-map>

									<div class="button-box h-100 d-flex justify-content-end align-items-end">
										<div class="text-right">
											<!-- <a [routerLink]="['/shop/checkout']" class="btn btn-solid">Finalizar</a> -->
											<a (click)="checkout()" class="btn btn-solid">Finalizar</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>