<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>

<section class="section-b-space" id="shipping-component">
	<div class="container padding-cls">
		<div class="checkout-page">
			<div class="checkout-form">
				<div class="row mb-5">
					<!-- Dirección de envío -->
					<div class="col-lg-6 col-sm-12 col-xs-12">
						<div class="border-box">
							<app-address #address></app-address>
						</div>
					</div>
					<!-- Opciones de envio -->
					<div class="col-lg-6 col-sm-12 col-xs-12">
						<div class="border-box h-100">
							<div class="shipping-options d-flex flex-column h-100">
								<div class="checkout-title">
									<h3>Opciones de envío</h3>
									<p> Completa estos datos para que tu vendedor sepa donde te encuentras ubicado
									</p>
								</div>
								<form class="theme-form">
									<div class="shipping-option" *ngIf="shipmentOptions.length">
										<div *ngFor="let shipmentOption of shipmentOptions">
											<p class="h5">{{shipmentOption.name}}</p>
											<div *ngIf="shipmentOption.shopOptions.length">
												<div *ngFor="let item of shipmentOption.shopOptions; let i=index">
													<div class="row mb-3">
														<div class="option-box d-flex mx-auto py-3">
															<div class="col-md-6">
																<p class="my-auto text-capitalize">{{item.name}} - {{item.price | currency }}</p>
															</div>
															<div class="col offset-xl-4 text-center">
																<input class="my-auto" type="radio" [checked]="i === 0" [value]="item._id"
																	[name]="shipmentOption.name"
																	(change)="selectOption(shipmentOption.id, $event.target.value )">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div *ngIf="!shipmentOption.shopOptions.length">
												La tienda no posee opciones de envío
											</div>
										</div>
									</div>
								</form>
								<div class="button-box d-flex justify-content-end align-items-end">
									<div class="text-right">
										<button (click)="checkout()" class="btn btn-solid-orange"
											[ngStyle]="{'background-color': store.config?.color ? store.config?.color : '#c6410f', 'border-color': store.config?.color ? store.config?.color : '#c6410f'}"
											[disabled]="isDisabled">Finalizar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>