<app-header-one [sticky]="true" [isHidde]="false" [topbar]="false" [isSideMenu]="true" [hasSearchBar]="true">
</app-header-one>

<div class="pb-3 pointer" [routerLink]="['/shop/collection/left/sidebar']">
  <section class=" p-0">
    <ngb-carousel *ngIf="sliders.length>0" #ngcarousel>
      <ng-template *ngFor="let image of sliders" ngbSlide>
        <div class="picsum-img-wrapper w-100">
          <img class="img-main-banner" [src]="image.image" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="btn-inside-slider">
      <!-- <a class="btn btn-solid-orange" [routerLink]="['/shop/collection/left/sidebar']">Explora</a> -->
    </div>
  </section>
  <!-- Home slider End -->

  <!-- collection banner start-->
  <section class="pt-0 pb-0" style="margin-top: -50px;">
    <div class="container-fluid">
      <div class="row partition2 background-rosa-light py-5 px-1">
        <div class="col-md-6" *ngFor="let option of options">
          <a [routerLink]="option.url">
            <div class="collection-banner p-right text-center">
              <img [src]="option.image" class="img-fluid" alt="collection-banner">
              <div class="contain-banner">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- collection banner End -->

  <!-- Product slider start-->
  <div class="title1 section-t-space mt-2" *ngIf="products.length">
    <h2 class="title-inner1">ofertas especiales</h2>
  </div>
  <div class="container" *ngIf="products.length">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="product-para">
          <p class="col-md-10 mx-auto text-center">
            Consigue lo que necesitas e incluso lo que no sabías que necesitabas,
            explora nuestro market y conoce los productos destacados.
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="section-b-space p-t-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <owl-carousel-o class="product-m" [options]="ProductSliderConfig">
            <ng-container *ngFor="let product of products | slice:0:16">
              <ng-template carouselSlide>
                <div class="product-box">
                  <app-product-box-one [product]="product" [thumbnail]="false" [cartModal]="false" [horizontal]="true">
                  </app-product-box-one>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>

  <section class="banner-mp p-0">
    <div class="banner-img w-100">
      <img class="w-100 h-100" src="assets/images/marketplace/images/banner2_.png">
    </div>
    <div class="banner-mp-container">
      <a [routerLink]="[ '/pages/register']" [queryParams]="{ role: 'merchant' }" class="btn btn-white w-100">Vender
        ahora</a>
    </div>
  </section>

  <!-- Tab product start-->
  <div class="title1 section-t-space" *ngIf="products.length">
    <h2 class="title-inner1">PRODUCTOS MÁS VENDIDOS</h2>
    <div class="title2">
      <h4 class="text-pink-light">ofertas especiales</h4>
    </div>
  </div>
  <section class="section-b-space p-t-0 mt-4" *ngIf="products.length">
    <div class="container">
      <div class="row">
        <div class="col theme-tab">
          <div>
            <div class="no-slider row">
              <ng-container *ngFor="let product of products | slice:0:8">
                <div class="product-box">
                  <app-product-box-one [product]="product" [thumbnail]="false" [cartModal]="false" [horizontal]="true">
                  </app-product-box-one>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Tab product End -->

  <!-- services start-->
  <div class="container">
    <section class="service border-section small-section">
      <app-services></app-services>
    </section>
  </div>
  <!-- services End -->
</div>
<app-footer-one></app-footer-one>