<app-header-one [sticky]="true" [isHidde]="false" [hasSearchBar]="true" [topbar]="false"></app-header-one>
<div class="pb-5">
  <!-- Home slider start-->
  <section class="p-0">
    <app-slider 
      [sliders]="sliders" 
      [textClass]="'text-center'"
      [category]="''"
      [buttonText]="'Explora'"> 
    </app-slider>
  </section>
  <!-- Home slider End -->

  <!-- collection banner start-->
  <section class="pb-0">
    <div class="container">
      <div class="row partition2">
        <div class="col-md-6" *ngFor="let option of options">
          <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ tipo: 'fashion'}">
            <div class="collection-banner p-right text-center">
              <img [src]="option.image" class="img-fluid" alt="collection-banner">
              <div class="contain-banner">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- collection banner End -->

  <!-- Product slider start-->
  <div class="title1 section-t-space">
    <h2 class="title-inner1">ofertas especiales</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="product-para">
          <p class="col-md-10 mx-auto text-center">
            Consigue lo que necesitas e incluso lo que no sabías lo que necesitabas, 
            explora nuestro market y conoce los productos destacados.
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="section-b-space p-t-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
            <ng-container *ngFor="let product of products | slice:0:16">
              <ng-template carouselSlide>
                <div class="product-box">
                  <app-product-box-one 
                    [product]="product" 
                    [thumbnail]="true"
                    [cartModal]="true">
                  </app-product-box-one>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>
  <!-- Product slider End -->

  <!-- Parallax banner start-->
  <!-- <section class="p-0">
    <div class="full-banner text-center p-left"
      [ngStyle]="{'background-image': 'url(assets/images/marketplace/images/banner2.png)'}">
      <div class="container">
        <div class="row">
          <div class="col">
            <button class="btn btn-white">Vender ahora</button>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Parallax banner End -->
  <section class="banner-mp p-0">
    <div class="banner-img w-100">
      <img class="w-100 h-100" src="assets/images/marketplace/images/banner2_.png">
    </div>
    <div class="banner-mp-container">
      <button class="btn btn-white w-100">Vender ahora</button>
    </div>
  </section>

  <!-- Tab product start-->
  <div class="title1 section-t-space">
    <h2 class="title-inner1">PRODUCTOS MÁS VENDIDOS</h2>
    <div class="title2">
      <h4 class="text-pink-light">ofertas especiales</h4>
    </div>
  </div>
  <section class="section-b-space p-t-0 mt-4">
    <div class="container">
      <div class="row">
        <div class="col theme-tab">
          <div >
            <div class="no-slider row">
              <ng-container *ngFor="let product of products | slice:0:8">
                <div class="product-box">
                  <app-product-box-one 
                    [product]="product" 
                    [thumbnail]="true"
                    [cartModal]="true">
                  </app-product-box-one>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Tab product End -->

  <!-- services start-->
  <div class="container">
    <section class="service border-section small-section">
      <app-services></app-services>
    </section>
  </div>
  <!-- services End -->
</div>
<app-footer-one></app-footer-one>