<div class="section-b-space">
    <hr>
    <div class="page-title mb-2">
        <h3 class="mp-title">
            Opiniones del producto
        </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="comment-header">
                <div class="col-1 d-flex justify-content-center">
                    <img src="assets/images/marketplace/images/icons/profile.png" alt="">
                </div>
                <div class="col d-flex flex-column">
                    <div class="text-default-color">
                        Luis Arauz
                    </div>
                    <div class="description">
                        <p>Compra verificada: Entregado Panamá 25 de Septiembre</p>
                    </div>
                    <div class="stars">
                        <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
                    </div>
                </div>
            </div>
            <div class="comment-body">
                <p>
                    El proceso de ensamblado es muy fácil si se leen las instrucciones, rápido
                    el proceso de entrega, muy buena calidad los materiales de la silla
                </p>
                <div class="d-flex comment-btns mt-3">
                    <button class="btn border-box font-weight-normal">Me gusta</button>
                    <button class="btn border-box font-weight-normal ml-2">Comentar</button>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            <p class="text-default-color font-weight-bold mr-2">Ver más comentarios</p>
            <span style="color: #b8b3b3">
                <i class="fa fa-caret-down"></i>
            </span>
        </div>
        <hr>
        <div class="row">
            <div class="page-title mb-2">
                <h3 class="mp-title">
                    Agregar comentario
                </h3>
            </div>
            <div class="comment-header">
                <div class="col-1 d-flex justify-content-center">
                    <img src="assets/images/marketplace/images/icons/profile.png" alt="">
                </div>
                <div class="col d-flex flex-column">
                    <div class="text-default-color">
                        Mi perfil
                    </div>
                    <div class="description">
                        <p>Califica tu experiencia</p>
                    </div>
                    <div class="stars">
                        <bar-rating [rate]="0"></bar-rating>
                    </div>
                </div>
            </div>

            <div class="border-box w-100 mt-2">
                <textarea class="new-comment" placeholder="Escriba aquí sus comentarios"></textarea>
            
            </div>
            <div class="mt-2 d-flex w-100 justify-content-mobile-first">
                <button class="btn btn-solid">Agregar cometario</button>
            </div>
        </div>
    </div>
</div>