img {
    height: 50px;
    width: auto;
}
hr {
    width: 85%;
}
.comment-header {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.comment-body {
    padding: 15px 15px;
}

.new-comment {
    width: 100%;
    border: 0
}
.container {
    padding: 5px 10px;
}
.justify-content-mobile-first{
    justify-content: flex-end;
}

@media (min-width: 768px) {
    hr {
        width: 100%;
    }
    .comment-header {
        flex-direction: row;
    }
}