<div class="section-b-space">
	<hr *ngIf="reviews.length">
	<div *ngIf="reviews.length" class="page-title mb-2 px-2">
		<h3 class="mp-title"> Opiniones del producto </h3>
	</div>
	<div class="container">
		<div *ngIf="reviews.length">
			<div class="row" *ngFor="let review of reviews">
				<div class="comment-header">
					<div class="col-md-1 col-sm-12 d-flex justify-content-center">
						<img src="assets/images/marketplace/images/icons/profile.png" alt="">
					</div>
					<div class="col d-flex flex-column">
						<div class="text-default-color">
							{{review.user.fullname}}
						</div>
						<div class="description">
							<p>Compra verificada: Entregado Panamá 25 de Septiembre</p>
						</div>
						<div class="stars">
							<bar-rating name="rating" [(rate)]="review.qualification" [max]="5" required disabled>
							</bar-rating>
						</div>
					</div>
				</div>
				<div class="comment-body">
					<p>{{ review.commentary }}</p>
				</div>
			</div>
			<div class="form-row d-flex">
				<p class="text-default-color font-weight-bold mr-2">Ver más comentarios</p>
				<span style="color: #b8b3b3">
					<i class="fa fa-caret-down"></i>
				</span>
			</div>
		</div>
		<hr>
		<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()" class="theme-form">
			<div class="row">
				<div class="page-title mb-2 px-2">
					<h3 class="mp-title">
						{{ reviews.length ? 'Agregar comentario' : 'Sé el primero en comentar'}}
					</h3>
				</div>
				<div class="comment-header">
					<div class="col-md-1 col-sm-12 d-flex justify-content-center">
						<img src="assets/images/marketplace/images/icons/profile.png" alt="">
					</div>
					<div class="col d-flex flex-column">
						<div class="text-default-color">
							Mi perfil
						</div>
						<div class="description">
							<p>Califica tu experiencia</p>
						</div>
						<div class="stars">
							<!-- <bar-rating [rate]="0"></bar-rating> -->
							<bar-rating formControlName="qualification" name="rating" [max]="5" required disabled>
							</bar-rating>
							<div *ngIf="submitted && f.qualification.errors?.required" class="invalid-feedback d-block">
								Debe calificar
							</div>
						</div>
					</div>
				</div>
				<div class="border-box w-100 mt-2 mx-2">
					<textarea formControlName="commentary" class="new-comment" placeholder="Escriba aquí sus comentarios"
						[ngClass]="{ 'is-invalid': submitted && f.commentary.errors }">
                    </textarea>
				</div>
				<div *ngIf="submitted && f.commentary.errors?.required" class="invalid-feedback d-block">
					Campo requerido
				</div>
				<div class="mt-2 mx-2 d-flex w-100 justify-content-mobile-first">
					<button class="btn btn-solid">Agregar cometario</button>
				</div>
			</div>
		</form>
	</div>
</div>