<ng-template #shopDetails let-modal>
    <div class="container p-3" style="border: 1px solid #eba39a;">
        <div class="modal-container">
            <div class="modal-header" style="border: 1px solid #eba39a;">
                <h4 class="title">{{shop.name}}</h4>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>
                        <strong>Plan actual:</strong> {{ shop.plan.description }}
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <strong>Monto del plan: </strong>{{ shop.plan.price | currency }}
                    </p>
                </div>
                <button class="btn text-default-color" (click)="cancelPlan(shop)" *ngIf="shop.plan.price !== 0">
                    Cancelar
                    plan</button>
                <div class="form-group mt-3">
                    <strong>Beneficios:</strong>
                </div>
                <div class="form-group">
                    <ul class="d-flex flex-column text-center">
                        <li class="p-2" *ngFor="let benefit of benefits">
                            <div class="row">
                                <div class="col-1">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16"
                                        class="bi bi-check-circle text-default-color" fill="#c6410f"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path fill-rule="evenodd"
                                            d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                    </svg>
                                </div>
                                <div class="col">
                                    {{ benefit }}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>