<div class="shop-card mb-3">
    <div class="row h-100">
        <div class="col-md-3 h-100">
            <img class="h-100" src="assets/images/marketplace/images/placeholder.jpg" alt="">
        </div>
        <!-- <div class="col-md-9">
            <h4>
                <span class="text-default-color">Silla decoracion</span>
            </h4>
            <p>Creado por tienda</p>
            <p class="mt-5">description</p>
            <div class="row">
                <strong>$104.40 </strong> <p class="text-default-color"> (5 unidades disponibles)</p>
            </div>
        </div> -->
    </div>
    <hr>
</div>
