.border-box {
    padding: 2px 2px;
}

#item {
    width: 90%;
    margin: 0 auto;
    &:active {
        background-color: var(--theme-deafult);
        color: white
    }
}

#dropdownManual {
    text-transform: none;
    color: #777;
    font-weight: 400;
}

#special-padding {
    padding: 10px;
}
.color {
    width: 100%;
    height: 0.7rem;
}

.dropdown-toggle {
    white-space: none;
}
.dropdown-menu .show {
    background-color: yellow;
    transform: translate(0px, 50px) !important;
}
.color-fonts {
    display: flex;
    flex-direction: column;
}


label {
    line-height: 25px;
    word-break: word-break;
}
@media(min-width: 576px){
    .color-fonts {
        display: flex;
        flex-direction: row;
    }

}
@media(max-width: 768px){
    .optional{
        display: none !important;
    }
    .preview{
        min-width: 45%;
        max-width: 45%;
        margin: 0 auto;
        height: 10vh;
    }

}
