<app-breadcrumb [title]="'Dashboard'" [breadcrumb]="'Dashboard'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-3">
                    <div class="mark daily">
                        2 ventas hoy
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mark daily">
                        2 ventas totales
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mark daily">
                        30 clientes
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mark daily">
                        50 productos
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="background-color: aqua;">
                <p>Estadistica barras</p>
            </div>
            <div class="col-lg-6" style="background-color: blueviolet;">
                <p>Estadisticas torta</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table cart-table table-responsive-xs">
                        <thead>
                        <tr class="table-head">
                            <th *ngFor="let field of fields" scope="col">{{field.name}}</th>
                        </tr>
                        </thead>
                        <!--Store Admin-->
                        <tbody *ngIf="typeUser==1">
                            <tr *ngFor="let order of orders">
                                <td>
                                    {{order.name}}
                                </td>
                                <td>
                                    {{order.status}}
                                </td>
                                <td >
                                    <p>{{order.description}}</p>
                                </td>
                                <td><h4>{{order.price}}</h4></td>
                            </tr>
                        </tbody>
                        <!--Store Admin ends-->
                        <!--Admin Marketplace-->
                        <tbody *ngIf="typeUser==2">
                            <tr *ngFor="let store of stores">
                                <td><h2>{{store.name}}</h2></td>
                                <td >
                                    <p>{{store.amount}}</p>
                                </td>
                                <td>
                                    <p>{{store.date}}</p>
                                </td>
                            </tr>
                        </tbody>
                        <!--Admin Marketplace ends-->
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->