<section class="section-b-space">
    <div class="container d-flex">
        <div class="col-lg-12 d-flex justify-content-center info-plan" *ngIf="enabled">
            <div class="left-info">
                <div class="info-header">
                    <div class="d-flex">
                        <h4 *ngIf="plan.price===0" class="font-weight-bold">Plan actual: </h4>
                        <h4 class="text-default-color pl-2">Plan Básico</h4>
                    </div>
                    <hr>
                    <div class="form-group">
                        <h4 class="font-weight-bold">Monto del plan: $0</h4>
                    </div>
                    <div class="form-group  mt-3">
                        <h4 class="text-default-color font-weight-bold">Beneficios:</h4>
                    </div>
                </div>

                <div class="info-body mx-auto mt-5">
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Tu tienda online</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Creación del Catálogo</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Enlace a Redes Sociales</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Chat integrado</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Pagos contra entrega</h5>
                        </div>

                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Manejo de Tenderos*</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Pasarela de pago</h5>
                        </div>
                    </div>
                </div>
                <div class="plan-btns d-flex flex-column">
                    <div class="row justify-content-center mt-4">
                        <h5 class="lable4 font-weight-bold">
                            <a routerLink="/pages/termsandconditions">Ver Términos y Condiciones</a>
                        </h5>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-solid" [disabled]="plan.price===0"
                            (click)="changePlan(plans[1]._id)">Seleccionar este plan</button>
                    </div>
                </div>
            </div>
            <div class="rigth-info">
                <div class="info-header">
                    <div class="d-flex">
                        <h4 *ngIf="plan.price > 0" class="font-weight-bold">Plan actual: </h4>
                        <h4 class="text-default-color pl-2">Plan profesional</h4>
                    </div>
                    <hr>
                    <div class="form-group">
                        <h4 class="font-weight-bold">Monto del plan: $8.88 mensual</h4>
                    </div>
                    <div class="form-group  mt-3">
                        <h4 class="text-purple font-weight-bold">Beneficios:</h4>
                    </div>
                </div>
                <div class="info-body mx-auto mt-5">
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Todo el Plan Básico</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center">

                        <svg width="3.5em" height="3.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="#d0260f"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Control de Inventario</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Gestión de clientess</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Transacciones ilimitadas</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Integración con Nequi | Mercado Pago</h5>

                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Manejo de Tenderos*</h5>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                class="bi bi-check-circle text-default-color" fill="#d0260f"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </div>
                        <div class="col">
                            <h5 class="pl-2">Pasarela de pago</h5>
                        </div>
                    </div>

                </div>
                <div class="plan-btns d-flex flex-column">
                    <div class="row mt-4">
                        <h5 class="lable4 mx-auto font-weight-bold">
                            <a routerLink="/pages/termsandconditions">Ver Términos y Condiciones</a>
                        </h5>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-solid-purple" [disabled]="plan.price>0"
                            (click)="changePlan(plans[0]._id)">Seleccionar este plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>