.suscription-box {
	background-color: #f2f2f2 ;
	padding: 17px 13px;
}
.info-plan {
    flex-direction: column;
    .left-info, .rigth-info {
        width: 100%;
    }
}
.container{
    padding-left: 0;
    padding-right: 0;
}

hr {
	width: 70%;
}

h5 {
	font-size: 14px;
}
.check {
    width: 1.3rem;
    height: auto;
}
@media(max-width: 768px){
    .optional{
        display: none !important;
    }

    
}
@media(min-width: 768px) {
    .info-plan{
        .left-info {
            .info-body {
                width: 80% !important;
            }
        }
        .rigth-info {
            .info-body{
                width: 80% !important;
            }
        }
    }
}
@media(min-width: 992px){
    .optional{
        display: none !important;
    }
    .info-plan {
        flex-direction: row;
        .left-info, .rigth-info {
            width: 50%;
            
        }
    }
}