.suscription-box {
	background-color: #f2f2f2 ;
	padding: 17px 13px;
}

hr {
	width: 70%;
}

h5 {
	font-size: 14px;
}
.check {
    width: 1.3rem;
    height: auto;
}
@media(max-width: 768px){
    .optional{
        display: none !important;
    }
    
}