section {
    padding-top: 10px !important;
}

.row {
    margin-right: 0;
    margin-left: 0;
    height: 50%;
    .second-row {
        width: 100vw;
    }
}

.store-card {
    height: auto;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.img {
    height: -webkit-fill-available;
    width: 100%;
    margin-bottom: 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    & img {
        border-radius: 10px;
    }
}

.icon-orders {
    width: 50%;
    & p {
        font-size: 0.7rem;
    }
    & img {
        // height: 35px;
        height: 24px;
        max-height: 35px;
        max-width: 35px;
    }
}

@media (min-width: 576px) {
    .store-card {
        height: 45vh;
        max-height: 45vh;
    }
    .img {
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .store-card {
        height: auto;
    }

    .icon-orders {
        flex-direction: column;
        justify-content: center;
    }
}

.pointer {
    cursor: pointer;
}
