<app-breadcrumb [title]="'Tiendas'" [breadcrumb]="'Tiendas'"></app-breadcrumb>
<section class="section-b-space">
    <div class="container">
        
        <form action="" class="form-inline" [formGroup]="searchForm">
            <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend" (click)="search()">
                  <span class="input-group-text lighten-3" id="basic-text1">
                    <img src="" alt="">
                  </span>
                </div>
                <input class="form-control my-0 py-1" formControlName="shop" type="text" placeholder="Buscar tienda" >
              </div>
        </form>
            
        <div class="row table-center-mt">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs">
                    <thead>
                    <tr class="table-head">
                        <th *ngFor="let field of fields" scope="col">{{field}}</th>
                    </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let shop of shops">

                            <td>
                                {{shop.name}}
                            </td>
                            <td>
                                {{shop.plan}}
                            </td>
                            <td >
                                {{shop.price}}
                            </td>
                            <td>
                                {{shop.estado}}
                            </td>
                        
                            <td class="d-flex justify-content-end actions" >
                                <button class="btn">Suscripción</button>
                                <button class="btn">Desactivar</button>
                            </td>
                            
                        </tr>
                    </tbody>

                </table>
                <p *ngIf="searchValid && shops.length==0">No hay resultados disponibles</p>
                <p *ngIf="!searchValid">No hay resultados para su búsqueda</p>
                <app-custom-pagination  [items]="shops" [paginate]="paginate" (setPage)="setPage($event)">
                </app-custom-pagination>

            </div>
        </div>
    </div>
</section>
