<app-breadcrumb [title]="'Tiendas'" [breadcrumb]="'Tiendas'"></app-breadcrumb>
<section class="section-b-space">
    <div class="container">
        <div class="d-flex flex-row bd-highlight ">
            
            <div class="col-md-5">
                <input type="text" class="form-control search" placeholder="Buscar tienda">
            </div>
                      
            <div class="bd-highlight">
                <button class="btn btn-solid btn-find" (click)="search()">Filtrar</button>
            </div>

        </div>    
        <div class="row table-center-mt">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs">
                    <thead>
                    <tr class="table-head">
                        <th *ngFor="let field of fields" scope="col">{{field}}</th>
                    </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let shop of shops">

                            <td>
                                {{shop.name}}
                            </td>
                            <td>
                                {{shop.plan}}
                            </td>
                            <td >
                                {{shop.price}}
                            </td>
                            <td>
                                {{shop.estado}}
                            </td>
                        
                            <td class="d-flex actions" >
                                <button class="btn">Suscripción</button>
                                <button class="btn">Desactivar</button>
                            </td>
                            
                        </tr>
                    </tbody>

                </table>
                <app-custom-pagination  [items]="shops" [paginate]="paginate" (setPage)="setPage($event)">
                </app-custom-pagination>

            </div>
        </div>
    </div>
</section>