<!-- section start -->
<section class="authentication-page section-b-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
            <!-- <div class="collection-filter" [class.openFilterbar]="mobileSidebar">
                side-bar colleps block stat
                <div class="collection-filter-block">
                    Category filter start
                    <app-categories></app-categories>
                </div>
            </div> -->
        </div>
        <div class="collection-content col">
            <div class="page-main-content">
                <div class="row">
                    <div class="col-sm-12">
                       <app-shop-card></app-shop-card>
                       <app-shop-card></app-shop-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
 </section>
<!-- section end -->