<div class="collection-collapse-block" [class.open]="collapse" *ngIf="filterPrice.length">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Precios</h3>
      <div class="collection-collapse-block-content">
          <div class="collection-brand-filter">
              <div class="custom-control custom-checkbox collection-filter-checkbox"
                  *ngFor="let price of filterPrice; let i = index">
                  <input
                      type="checkbox" 
                      [value]="price._id" 
                      [checked]="checked(price.name)" 
                      [id]="price._id"
                      (change)="appliedFilter($event)" 
                      class="custom-control-input" />
                  <label class="custom-control-label" for="{{ price._id }}">{{ price.name }}</label>
              </div>
          </div>
      </div>
  </div>