.input-group-prepend {
    height: 50px;
}

.tab-box {
    width: 90vw;
}

hr {
    width: 90%;
    margin: 0 auto;
}
#select-btn {
    font-size: 0.8rem;
    color: var(--mp-gray);
}
@media (min-width: 768px){
    .tab-box {
        width: 80vw;
    }
    
    .create-product-form {
        display: flex;
        justify-content: center;
    }
    .first-column {
        width: 45%;
    }
    .second-column {
        width: 50%;
    }
    .save{
        display: flex;
        justify-content: flex-end;
    }
}