<ng-template #createProduct let-modal>
	<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
		<p style="color: white"> Por favor espere... </p>
	</ngx-spinner>
	<ngx-alerts></ngx-alerts>

	<!-- section start -->
	<section class="section-b-space">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12 ">
					<div class="theme-card">
						<div class="row justify-content-end">
							<div class="col-2 d-flex justify-content-center">
								<i class="ti-close" (click)="close()"></i>
							</div>
						</div>
						<!-- Producto base -->
						<div *ngIf="active=='product'; else variations">
							<form class="theme-form" [formGroup]="productForm">
								<div class="page-title form-row px-2">
									<h4 class="col-10">
										<span> <strong>{{ title }} </strong> </span>
									</h4>
								</div>
								<div class="create-product-form">
									<div class="first-column">
										<!-- Nombre -->
										<div class="form-group ">
											<div class="field-label">Nombre</div>
											<input formControlName="name" type="text" class="form-control" id="name" required=""
												[(ngModel)]="productData.name" maxlength="60">
											<div *ngIf="submitted && f.name.errors" class="invalid-feedback d-block">
												<div *ngIf="f.name.errors.required"> {{ required }} </div>
											</div>
										</div>

										<div class="form-row">
											<!-- Price -->
											<div class="col-md-6">
												<div class="form-group ">
													<div class="field-label">Precio</div>
													<input formControlName="price" currencyMask type="text" class="form-control" id="price"
														required="" [(ngModel)]="productData.price">
													<div *ngIf="submitted && f.price.errors" class="invalid-feedback d-block">
														<div *ngIf="f.price.errors.required"> {{ required }} </div>
													</div>
												</div>
											</div>
											<!-- Tax -->
											<div class="col-md-6">
												<div class="form-group ">
													<div class="field-label">Itbms (%)</div>
													<input formControlName="tax" maxlength="4" currencyMask type="text" class="form-control"
														id="itbms" required="" [(ngModel)]="productData.tax">
													<div *ngIf="submitted && f.tax.errors" class="invalid-feedback d-block">
														<div *ngIf="f.tax.errors.required"> {{ required }} </div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-row">
											<!-- Color -->
											<div class="col-md-6">
												<div class="form-group">
													<div class="field-label">Color</div>
													<select formControlName="color" class="form-control" name="color"
														(change)="variableOptionSelected($event.target.value)">
														<option value="" selected>Seleccione un color</option>
														<option value="addColor">Agregar nuevo color</option>
														<hr class="p-0 m-0">
														<option *ngFor="let color of colors" [value]="color._id">{{color.name}}</option>
													</select>

												</div>
											</div>
											<!-- Size -->
											<div class="col-md-6">
												<div class="form-group">
													<div class="field-label">Tamaño</div>
													<select formControlName="size" class="form-control" name="size"
														(change)="variableOptionSelected($event.target.value)">
														<option value="" selected>Seleccione un tamaño</option>
														<option value="addSize">Agregar nuevo tamaño</option>
														<hr class="p-0 m-0">
														<option *ngFor="let size of sizes" [value]="size._id">{{size.name}}</option>
													</select>

												</div>
											</div>
										</div>
										<!-- Categoria -->
										<div class="form-group ">
											<div class="field-label">Categoría</div>
											<select formControlName="category" class="form-control" name="category"
												[(ngModel)]="selectedCategory" (change)="changeCategorySelection()">
												<option *ngFor="let category of categories" [value]="category._id">
													{{category.name}}</option>
											</select>

											<div *ngIf="submitted && f.category.errors" class="invalid-feedback d-block">
												<div *ngIf="f.category.errors.required"> {{ required }} </div>
											</div>
										</div>
										<!-- Sub-Categoria -->
										<div class="form-group" *ngIf="selectedCategory!=''">
											<div class="field-label">Sub-categoría</div>
											<div ngbDropdown>
												<button class="form-control" id="select-btn" ngbDropdownToggle>
													{{ selectedSubcategory.name ? selectedSubcategory.name : 'Selecciona una sub categoría' }}
												</button>
												<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
													<button type="button" class="drop-button" (click)="openModalNewElement(2)" ngbDropdownItem>
														Agregar nueva subcategoría
													</button>
													<hr>
													<div>
														<button type="button" class="drop-button" *ngFor="let subcategory of subcategories"
															[value]="subcategory._id" (click)="selectSubcategory(subcategory)" ngbDropdownItem>
															{{subcategory.name}}
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- Descripcion -->
										<div class="form-group">
											<div class="field-label">Descripción</div>
											<textarea formControlName="description" type="text" class="form-control"
												id="exampleFormControlTextarea1" placeholder="Descripción" maxlength="500"
												[(ngModel)]="productData.description"></textarea>
											<div *ngIf="submitted && f.description.errors" class="invalid-feedback d-block">
												<div *ngIf="f.description.errors.required"> {{ required }} </div>
											</div>
										</div>
										<!-- Status -->
										<div class="form-group ">
											<div class="field-label">Estado del producto</div>
											<select formControlName="status" class="form-control" name="status" [(ngModel)]="statusSelected">
												<option *ngFor="let status of statuses" [value]="status.value">
													{{status.text}}
												</option>
											</select>
										</div>
										<div class="shipping-option">
											<div class="form-group mb-3">
												<div class="w-100 option-box d-flex mx-auto py-2 px-1">
													<div class="col-md-10 text-center">
														<p class="my-auto">Vender en home page 20%</p>
													</div>
													<div class="col-md-1 text-right">
														<input formControlName="marketplace" class="form-check-input" type="checkbox"
															[(ngModel)]="marketplaceCheck" id="gridCheck1">
														<!-- <input class="my-auto" type="checkbox"> -->
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="second-column">
										<div class="form-row">
											<div class="col-lg-5 col-sm-12">
												<!-- Cantidad disponible -->
												<div class="form-group">
													<div class="field-label">Cantidad disponible</div>
													<input formControlName="stock" type="number" class="form-control" id="available" required=""
														[(ngModel)]="productData.stock" min="1">
													<div *ngIf="submitted && f.stock.errors" class="invalid-feedback d-block">
														<div *ngIf="f.stock.errors?.required"> {{ required }} </div>
														<div *ngIf="f.stock.errors?.max">
															{{ maxStock }}
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-5 col-sm-12">
												<!-- Dias de entrega -->
												<div class="form-group">
													<div class="field-label">Días de entrega</div>
													<input type="number" class="form-control" id="available" required=""
														formControlName="deliveryDays" [(ngModel)]="productData.deliveryDays">
													<div *ngIf="submitted && f.deliveryDays.errors?.required" class="invalid-feedback d-block">
														{{required}}
													</div>
												</div>
											</div>
										</div>
										<div class="page-title form-row px-2">
											<p class="hint">
												Selecciona una foto para tu producto haciendo click en
												(<img class="icon-small" src="assets/images/marketplace/images/placeholder_.jpg" />)
												para que tus clientes puedan ver el detalle del mismo.
											</p>
										</div>
										<div class="form-group d-flex justify-content-center">
											<app-upload-image [multiple]="true" [imagesObject]="images" (deleteImage)="deleteImage($event)"
												(uploadImage)="upload($event)" style="width: 100%;">
											</app-upload-image>
										</div>
									</div>
								</div>
								<div class="save text-center p-3">
									<button class="btn btn-solid-orange" (click)="onSubmit()">
										Guardar Producto
									</button>
								</div>
							</form>
						</div>

						<!-- Variacion de producto -->
						<ng-template #variations>
							<form [formGroup]="variableForm" class="theme-form">
								<div class="container">
									<div class="page-title row">
										<h4 class="col-12">
											<span> <strong>{{ title }} </strong> </span>
										</h4>
									</div>
									<p>Crea una nueva variación para tu producto</p>
									<div class="d-flex justify-content-center">
										<div class="col d-flex justify-content-end">
											<input type="checkbox" name="variante" id="color" (change)="checkVariable($event)"
												[disabled]='isEdit'>
											<label for="color" class="my-auto pl-2">Color</label>
										</div>
										<div class="col d-flex justify-content-start">
											<input type="checkbox" name="variante" id="size" (change)="checkVariable($event)"
												[disabled]='isEdit'>
											<label for="size" class="my-auto pl-2">Tamaño</label>
										</div>
									</div>
									<div class="table-responsive mt-3" *ngIf="allVariations.length && !showForm">
										<table class="table table-responsive-sm">
											<thead>
												<tr class="table-head">
													<th class="text-center text-uppercase" *ngFor="let field of fields" scope="col">
														{{field}}
													</th>
												</tr>
											</thead>
											<!--Store Admin-->
											<tbody>
												<tr *ngFor="let item of allVariations; let i=index">
													<td class="text-center">
														{{item.name}}
													</td>
													<td class="text-center">
														<p>{{item.price | currency }}</p>
													</td>
													<td class="text-center">
														<p>{{ item.tax | currency }}</p>
													</td>
													<td class="text-center">
														{{ item.size?.name ? item.size.name : '' }}
													</td>
													<td class="text-center">
														{{ item.color?.name ? item.color?.name : '' }}
													</td>
													<td class="text-center">
														<button class="btn btn-table-action" (click)="editProductVariable(item)">
															<i class="fa fa-edit fa-lg" style="color: Dodgerblue"></i>
														</button>
														<button class="btn btn-table-action" (click)="deleteItem(item)">
															<i class="fa fa-close fa-lg" style="color: Tomato"></i>
														</button>
													</td>
												</tr>
											</tbody>
											<!--Store Admin ends-->
										</table>
									</div>
									<div *ngIf="!showForm" class="d-flex px-5 py-5 justify-content-center aling-content-center">
										<button class="btn btn-solid-orange" (click)="variationsForm()" [disabled]="disabledBtn">
											Agregar tu primera variación
										</button>
									</div>
									<div class="tab-body" *ngIf="showForm">
										<div class="row col-12 col-lg-12">
											<div class="col-12 col-lg-12">
												<!-- Nombre -->
												<div class="form-group ">
													<div class="field-label">Nombre del producto Variable</div>
													<input formControlName="name" type="text" class="form-control" id="nameVariable"
														[(ngModel)]="product.name" maxlength="60">
													<div *ngIf="submitted && v.name.errors?.required" class="invalid-feedback d-block">
														{{ required }}
													</div>
												</div>
											</div>
											<div class="col-12 col-lg-12">
												<!-- Descripcion -->
												<div class="form-group">
													<div class="field-label">Descripción</div>
													<textarea formControlName="description" type="text" class="form-control"
														id="exampleFormControlTextarea00" placeholder="Descripción" required=""
														[(ngModel)]="product.description"></textarea>
													<div *ngIf="submitted && v.description.errors?.required" class="invalid-feedback d-block">
														{{ required }}
													</div>
												</div>
											</div>
										</div>
										<div class="row col-12 col-lg-12">
											<div class="col-lg-6">
												<!-- Price -->
												<div class="form-group ">
													<div class="field-label">Precio</div>
													<input formControlName="price" currencyMask type="text" class="form-control" id="price"
														[(ngModel)]="product.price">
													<div *ngIf="submitted && v.price.errors" class="invalid-feedback d-block">
														<div *ngIf="v.price.errors.required"> {{ required }} </div>
													</div>
												</div>

											</div>
											<div class="col-lg-6">
												<!-- Tax -->
												<div class="form-group ">
													<div class="field-label">Itbms %</div>
													<input currencyMask formControlName="tax" maxlength="4" type="text" class="form-control"
														id="itbms" [(ngModel)]="product.tax">
													<div *ngIf="submitted && v.tax.errors" class="invalid-feedback d-block">
														<div *ngIf="v.tax.errors.required"> {{ required }} </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row col-12 col-lg-12">
											<div class="col-lg-6">
												<!-- Status -->
												<div class="form-group ">
													<div class="field-label">Estado</div>
													<select formControlName="status" class="form-control" name="status"
														[(ngModel)]="statusSelected">
														<option *ngFor="let status of statuses" [value]="status.value">
															{{status.text}}
														</option>
													</select>
												</div>
											</div>
											<div class="col-lg-6">
												<!-- Cantidad disponible -->
												<div class="form-group">
													<div class="field-label">Cantidad disponible</div>
													<input type="number" class="form-control" id="stock" formControlName="stock" min="1"
														[(ngModel)]="product.stock">
													<div *ngIf="submitted && v.stock.errors?.required" class="invalid-feedback d-block">
														{{ required }}
													</div>
												</div>
											</div>
										</div>
										<div class="row col-12 col-lg-12">
											<div class="col-lg-6" *ngIf="colorChecked">
												<!-- Color -->
												<div class="form-group">
													<div class="field-label">Color</div>
													<select formControlName="color" class="form-control" name="color"
														(change)="variableOptionSelected($event.target.value)">
														<option value="" selected>Seleccione un color</option>
														<option value="addColor">Agregar nuevo color</option>
														<hr class="p-0 m-0">
														<option *ngFor="let color of colors" [value]="color._id">{{color.name}}</option>
													</select>
													<div *ngIf="submitted && v.color.errors?.required" class="invalid-feedback d-block">
														{{ required }}
													</div>
												</div>
											</div>
											<div class="col-lg-6" *ngIf="sizeChecked">
												<!-- Size -->
												<div class="form-group">
													<div class="field-label">Tamaño</div>
													<select formControlName="size" class="form-control" name="size"
														(change)="variableOptionSelected($event.target.value)">
														<option value="" selected>Seleccione un tamaño</option>
														<option value="addSize">Agregar nuevo tamaño</option>
														<hr class="p-0 m-0">
														<option *ngFor="let size of sizes" [value]="size._id">{{size.name}}</option>
													</select>
													<div *ngIf="submitted && v.size.errors?.required" class="invalid-feedback d-block">
														{{ required }}
													</div>
												</div>
											</div>
										</div>
										<app-upload-image [multiple]="true" [imagesObject]="images" (uploadImage)="upload($event)"
											style="width: 100%;">
										</app-upload-image>
										<div class="save text-center p-3">
											<button class="btn btn-solid-orange" type="button" (click)="saveVariable();">
												Guardar Producto
											</button>
										</div>
									</div>

								</div>

							</form>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Section ends-->
</ng-template>