<app-header-one [themeLogo]="themeLogo"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
    <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'watch'" [buttonText]="'shop now'">
    </app-slider>
</section>
<!-- Home slider End -->

<!-- Como me registro start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <h3>Como me registro</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">Registrate</div>
            <div class="col-sm-12 col-md-3">Selecciona tu plan</div>
            <div class="col-sm-12 col-md-3">Crea tu tienda</div>
            <div class="col-sm-12 col-md-3">Sube y vende produtos</div>
        </div>
    </div>
</section>
<!-- Como me registro end -->

<!-- Crea tu tienda start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <h3>Crea tu tienda</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">Registrate</div>
            <div class="col-sm-12 col-md-4">Selecciona tu plan</div>
            <div class="col-sm-12 col-md-4">Crea tu tienda</div>
        </div>
    </div>
</section>
<!-- Crea tu tienda end -->

<!-- Preguntas frecuentes start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <h3>Preguntas frecuentes</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">Registrate</div>
        </div>
    </div>
</section>
<!-- Preguntas frecuentes end -->

<!-- Cart Open To Left Side-->
<app-cart-variation [direction]="'left'"></app-cart-variation>
<app-footer-one [themeLogo]="themeLogo"></app-footer-one>