.service-block + .service-block {
    border-left: 0;
}

.service-block h4 {
    font-weight: 500;
    font-size: 16px;
}
ngb-carousel {
    max-height: none;
}
.vertical-img {
    height: 90vh;
    width: auto;
}
.vertical-banner-img {
    height: 100%;
    max-height: none;
}
