<app-header-one [themeLogo]="themeLogo" [isSideMenu]="true" [hasSearchBar]="true" ></app-header-one>

<!-- Home slider start-->
<section class="p-0">
    <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'watch'" [buttonText]="'shop now'">
    </app-slider>
</section>
<!-- Home slider End -->

<!-- register start-->
<div class="container">
    <section class="service small-section">
        <widget-register></widget-register>
    </section>
</div>
<!-- services End -->

<!-- Beneficio de vinculación start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title1">
                    <h2>Beneficio de vinculación</h2>
                    <h3>Al formar parte de nuestra familia te <br> otorgaremos estos beneficios</h3>
                </div>
            </div>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-md-12 col-lg-8 info-benefit">
                <div class="left-benefit">
                    <img class="mx-auto d-block" src="assets/images/marketplace/svg/undraw_Gift_box_re_vau4.svg" alt="">
                </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex info-benefit">
                <div class="rigth-benefit">
                    <h3>Beneficio</h3>
                    <h4>Descripción del beneficio</h4>
                    <h4>Descripción del beneficio</h4>
                    <h3>Beneficio</h3>
                    <h4>Descripción del beneficio</h4>
                    <h4>Descripción del beneficio</h4>
                    <h3>Beneficio</h3>
                    <h4>Descripción del beneficio</h4>
                    <h4>Descripción del beneficio</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Beneficio de vinculación end -->

<!-- Cuanto me cuesta start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title1">
                    <h2>Beneficio de vinculación</h2>
                    <h3>Al formar parte de nuestra familia te <br> otorgaremos estos beneficios</h3>
                </div>
            </div>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-12 d-flex justify-content-center info-plan">
                <div class="left-info">
                    <h4 class="text-center">Gratis</h4>
                    <hr>
                    <h2 class="text-center">$00.00</h2>
                    <h4 class="text-center">Por mes</h4>
                    <hr>
                    <h5>- Enlace de pago</h5>
                    <h5>- Sin cargo inicial, sin mensualidad, sin cargos ocultos</h5>
                    <h5>- Retiro a tu banco gratis</h5>
                    <h5>- Ver términos y condiciones aquí</h5>
                    <hr>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
                <div class="rigth-info">
                    <h4 class="text-center">Pago</h4>
                    <hr>
                    <h2 class="text-center">$8.88</h2>
                    <h4 class="text-center">Por mes</h4>
                    <hr>
                    <h5>- 3.5% + $0.35 por transacción</h5>
                    <h5>- Tienda en línea</h5>
                    <h5>- Manejo de entregas</h5>
                    <h5>- Manejo de inventario</h5>
                    <h5>- Todo lo de pago por uso</h5>
                    <hr>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-outline-light">Light</button>
                        <button type="button" class="btn btn-outline-light">Light</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cuanto me cuesta end -->

<!-- Preguntas frecuentes start -->
<section class="section-b-space">
    <div class="tab-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title1">
                        <h2>Preguntas frecuentes</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-3 d-flex justify-content-center">
                <div class="col-md-6 d-flex justify-content-center">
                    <div>
                        <h3>Qué es lorem ipsum?</h3>
                        <h5>Es un texto de pruebas de impresión</h5>
                        <h3>De donde viene?</h3>
                        <h5>Es un texto de pruebas de impresión</h5>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div>
                        <h3>Qué es lorem ipsum?</h3>
                        <h5>Es un texto de pruebas de impresión</h5>
                        <h3>De donde viene?</h3>
                        <h5>Es un texto de pruebas de impresión</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Preguntas frecuentes end -->

<!-- Cart Open To Left Side-->
<app-cart-variation [direction]="'left'"></app-cart-variation>
<app-footer-one [themeLogo]="themeLogo"></app-footer-one>