<section class="section-b-space">
  <div class="container d-flex">
    <div class="theme-form col mx-auto">
      <div class="row" style="display: flex;">
        <!-- Banner -->
        <div class="col-sm-12 col-lg-7">
          <div class="form-row d-flex flex-column mb-3" >
            <label class="label mr-2 my-auto"><strong>Banner</strong> </label>
            <app-upload-image #banner type="banner" multiple="true" (deleteImage)="deleteBanner($event)" [imagesObject]="banners" (uploadImage)="uploadBanner($event)"></app-upload-image>
          </div>
        </div>
        <!-- Tipografia y color -->
        <div class="col-sm-12 col-lg-5" id="special-padding">
          <div class="form-row mb-3">
            <label class="label mr-2 my-auto"><strong>Tipografía y Color</strong> </label>
          </div>
          <div class="form-row border-box mx-2">
            <!-- Tipografía -->
            <div class="col-sm-12 col-lg-6 ">
              <div class="border-box my-3" id="item" *ngFor="let font of fonts">
                <div class="custom-control custom-radio">
                  <input type="radio" [id]="font.name" [name]="font.name" class="custom-control-input"
                    [(ngModel)]="fontSelected" [value]="font.value">
                  <label class="custom-control-label" [for]="font.name" [style]="font.style">{{ font.name }}</label>
                </div>
              </div>
            </div>
            <!-- Color -->
            <div class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-center">
              <div class="label card text-center" id="color" [(colorPicker)]="color" [cpPosition]="'bottom'">
                <button class="btn" id="dropdownManual">
                  Color de tienda
                </button>
                <div class="color" [style.background]="color"></div>
              </div>
            </div>
          </div>
          <div class="form-row d-flex flex-column mb-3" >
            <label class="label mr-2 my-auto"><strong>Editar logo</strong> </label>
            <app-upload-image #logo [images]="imageLogo" type="logo"  (uploadImage)="uploadLogo($event)"></app-upload-image>
          </div>
        </div>
      </div>
      <!-- Botón de actualziar -->
      <div class="d-flex align-items-end flex-column mt-3">
        <div>
          <button class="btn btn-solid-purple" (click)="updateShopConfig()"> Actualizar diseño</button>
        </div>
      </div>
    </div>
  </div>
</section>