<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<ngx-alerts></ngx-alerts>
<section class="section-b-space">
	<div class="container">
		<div class="page-title mb-3">
			<h2 class="mp-title">
				Productos
			</h2>
		</div>
		<div class="alert alert-warning" role="alert"
			*ngIf="(plan?.price === 0) && (maxProducts >= 10) && (role ==='merchant')">
			Debe adquirir un plan pago para poder agregar más productos a su catálogo
		</div>
		<div class="d-flex">
			<form class="flex-fill theme-form">
				<div class="d-flex search">
					<div class="form-group flex-fill">
						<div class="input-group ">
							<div class="input-group-append">
								<button type="button" class="btn" (click)="search()">
									<i class="fa fa-search"></i></button>
							</div>
							<input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control my-0 py-1" type="text"
								placeholder="Buscar...">
						</div>
					</div>
					<div class="filters pb-2">
						<div class="flex-fill">
							<select name="model" class="form-control" [(ngModel)]="status" (change)="selectStatus()">
								<option value="">Estado</option>
								<option [value]="status.value" *ngFor="let status of statuses">{{status.text}}</option>
							</select>
						</div>
						<div class="flex-fill" *ngIf="role === 'admin'">
							<select name="model" class="form-control" [(ngModel)]="storeSelected" (change)="selectShop()">
								<option value="">Tienda</option>
								<option [value]="shop._id" *ngFor="let shop of shops">{{ shop.name }}</option>
							</select>
						</div>
					</div>
					<div class="d-flex  h-100 " *ngIf="role==='merchant' && store">
						<button [disabled]="(plan.price === 0) && (maxProducts >= 10)" type="button"
							class="btn btn-solid-orange flex-fill" (click)="CreateProduct.openModal(1,null)">
							Crear Producto
						</button>
					</div>
				</div>
			</form>
		</div>

		<ng-container *ngIf="store || role === 'admin'; else elseTemplate">
			<div class="table-responsive mt-3">
				<table class="table">
					<thead>
						<tr class="table-head text-center">
							<th *ngFor="let field of fields" scope="col">{{field}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let product of products">
							<td class="text-center" *ngIf="product.images.length">
								<div *ngFor="let image of product.images">
									<img class="product-image" *ngIf="image.principal" [src]="image.url" />
								</div>
							</td>

							<td class="text-center" *ngIf="!product.images.length">
								<img class="product-image" [src]="standardImage" />
							</td>

							<td class="text-center">{{ product.name }}</td>
							<td *ngIf="role==='admin' " class="text-center"> {{ product.store ? product.store.name : 'Sin tienda' }}
							</td>
							<td class="text-center">{{ product.description }}</td>
							<td class="text-center">{{ product.price | currency }}</td>
							<td class="text-center">{{ (product.tax / product.price) * 100 | number:'1.1'}}% </td>
							<td class="text-center">{{ product.status | translate }}</td>

							<td class="text-center" *ngIf="role==='merchant'">
								<a type="button" (click)="CreateProduct.openModal(3,product)" class="btn btn-table-action"
									ngbPopover="Agregar variación" triggers="mouseenter:mouseleave">
									<i class="fa fa-plus-circle fa-lg" style="color: rgb(9, 190, 33)"></i>
								</a>
								<button (click)="CreateProduct.openModal(2,product)" class="btn btn-table-action"
									ngbPopover="Editar producto" triggers="mouseenter:mouseleave">
									<i class="fa fa-edit fa-lg" style="color: Dodgerblue"></i>
								</button>
								<button class="btn btn-table-action" (click)="deleteItem(product)" ngbPopover="Eliminar producto"
									triggers="mouseenter:mouseleave">
									<i class="fa fa-close fa-lg" style="color: Tomato"></i>
								</button>
							</td>
							<td class="text-center" *ngIf="role==='admin'">
								<button class="btn btn-table-action" ngbPopover="Eliminar" triggers="mouseenter:mouseleave"
									(click)="deleteItem(product)">
									Eliminar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<app-custom-pagination [items]="products" [paginate]="paginate" (setPage)="setPage($event)">
			</app-custom-pagination>
			<div class="form-row container justify-content-center " *ngIf="products.length==0">
				<div class="col-md-5">
					<div class="card text-center mx-auto mb-2">
						<div class="card-body">
							<p>No hay productos</p>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-template #elseTemplate>
			<div class="form-row container justify-content-center " *ngIf="products.length==0 ">
				<div class="col-md-5">
					<div class="card text-center mx-auto mb-2">
						<div class="card-body">
							<p *ngIf="products.length==0 && !store">
								Aún no has configurado tu tienda
								<a class="btn btn-solid-orange mt-3" [routerLink]="['/pages/account/user/admin-store']">
									Configurar tienda
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
</section>
<app-create-product #createProduct *ngIf="role === 'merchant'" [store]="store" (reload)="reload($event)">
</app-create-product>