<section class="section-b-space" id="checkout-component">
	<div class="container padding-cls">
		<div class="checkout-page">
			<div class="checkout-form">
				<h2 class="title-purple ml-4" style="color: #68396d">Total de compra</h2>
				<hr>
				<div class="row">
					<div class="col-lg-6 col-sm-12 col-xs-12">
						<div class="checkout-details">
							<div class="order-box">
								<ul class="qty" *ngIf='products.length'>
									<li *ngFor="let product of products">
										<strong> {{ product.name| slice:0:40 }} ( {{ product.quantity }} ) </strong>
										<span>
											{{ (product.price | discount:product) * productService?.Currency.price | currency }}
										</span>
									</li>
									<li>
										<strong>ITBMS</strong> <span>{{ getItms | currency }}</span>
									</li>
									<li *ngIf='products.length'>
										<strong>Envío</strong> <span>{{ shipment | currency }}</span>
									</li>
									<li *ngIf='store?._id && auth.isAuthenticated'>
										<strong>Pago con saldo</strong>
										<span> -{{ referedAmount | currency }}</span>
									</li>
									<li *ngIf='hasCoupon'>
										<strong>Cupón de referido ({{store.affiliate_program_amount}}%)</strong>
										<span> - {{ couponAmount | currency }} </span>
									</li>
									<li class="mt-3">
										<strong> Subtotal </strong>
										<span [ngClass]="{'line-through': hasCoupon}">{{ subTotal | async | currency }}</span> <br><br>
										<!-- <span *ngIf="hasCoupon" class="mb-3">{{ newSubTotal | currency }}</span> -->
									</li>
								</ul>
								<ul class="qty" *ngIf='!products.length'>
									<li class="empty-checkout"> No hay productos en el carrito </li>
								</ul>
								<ul class="total">
									<!-- <li>
										<strong>Total </strong>
										<span class="count">
											{{ (totalPrice + shipment) - referedAmount | currency}}
										</span>
									</li> -->
									<li>
										<strong>Total a pagar </strong>
										<span class="count">
											{{ totalPayment | async | currency}}
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Payment Form -->
					<div class="col-lg-6 col-sm-12 col-xs-12">
						<app-payment #payment (amount)="getAmount($event)" (sponsor)="getSponsor($event)"></app-payment>
					</div>
				</div>
				<div class="button-box h-100 d-flex justify-content-end mt-3 mr-3">
					<div class="text-right">
						<button class="btn btn-solid-orange" (click)="onSubmit()">Continuar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>