#checkout-component {
    .checkout-details {
        background-color: transparent !important;
        border: none !important;
    }

    hr {
        background-color: var(--theme-deafult);
    }

    .order-box .qty {
        border-bottom: 1px solid var(--theme-deafult);
    }
}
