<section class="section-b-space" id="checkout-component">
	<div class="container padding-cls">
		<div class="checkout-page">
			<div class="checkout-form">
				<h2>Total de compra</h2>
				<hr>
				<div class="row">
					<div class="col-lg-6 col-sm-12 col-xs-12">
						<div class="checkout-details">
							<div class="order-box">
								<ul class="qty" *ngIf='products.length'>
									<li *ngFor="let product of products">
										<strong> {{ product.name }} ( {{ product.quantity }} ) </strong>
										<span>
											{{ (product.price | discount:product) * productService?.Currency.price | currency }}
										</span>
									</li>
									<li>
										<strong>ITMS</strong> <span>{{ itms | currency }}</span>
									</li>
									<li *ngIf='products.length'>
										<strong>Envío</strong> <span>{{ shipmentPrice | currency }}</span>
									</li>
									<li *ngIf='store._id'>
										<strong>Pago con código</strong>
										<span> -{{ referedAmount | currency }}</span>
									</li>
									<li class="mt-3">
										<strong> Subtotal </strong> <span>{{ subTotal | async | currency }}</span>
									</li>
								</ul>
								<ul class="qty" *ngIf='!products.length'>
									<li class="empty-checkout"> No hay productos en el carrito </li>
								</ul>
								<ul class="total">
									<li> <strong>Total </strong> <span class="count">{{ totalPrice | currency }}</span></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Payment Form -->
					<div class="col-lg-6 col-sm-12 col-xs-12">
						<app-payment #payment (amount)="getAmount($event)"></app-payment>
					</div>
				</div>
				<div class="button-box h-100 d-flex justify-content-end">
					<div class="text-right">
						<button class="btn btn-solid" (click)="onSubmit()">Continuar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>