<!--footer section -->
<footer [class]="class">
	<section class="section-b-space light-layout">
		<div class="container">
			<div class="row footer-theme partition-f">
				<div class="col-lg-4 col-md-6">
					<div class="footer-contant">
						<div class="footer-logo">
							<img [src]="themeLogo" alt="logo">
						</div>
						<p>
							Aquí encontrarás todo lo que necesites comprar y podrás vender todos tus productos
							y servicios, con envíos seguros y rápidos. Regístrate.
						</p>
						<div class="footer-social">
							<ul>
								<li>
									<a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col offset-xl-1">

				</div>
				<div class="col">
					<div class="sub-title">
						<div class="footer-title">
							<h4>categorías</h4>
						</div>
						<div class="footer-contant">
							<ul>
								<li *ngFor="let category of menuItems">
									<a (click)='routerTo(category._id)'>{{category.name}}</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<div class="footer-title">
							<h4>información</h4>
						</div>
						<div class="footer-contant">
							<ul class="contact-list">
								<li><i class="fa fa-map-marker"></i>Calle 1era el Cármen<br>Casa 101</li>
								<li><i class="fa fa-phone"></i>(+507) 394-8544</li>
								<li><i class="fa fa-envelope-o"></i><a class="text-lowercase">info@miplacita.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-md-6 col-sm-12">
					<div class="footer-end">
						<p><i class="fa fa-copyright" aria-hidden="true"></i> {{ today | date:'y'}} CRONAPIS</p>
					</div>
				</div>
				<div class="col-xl-6 col-md-6 col-sm-12">
					<div class="payment-card-bottom">
						<ul>
							<li>
								<a><img src="assets/images/icon/visa.png" alt=""></a>
							</li>
							<li>
								<a><img src="assets/images/icon/mastercard.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--footer section end -->