<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<section class="section-b-space">
	<div class="container">
		<div class="page-title mb-5">
			<h2 class="mp-title">
				Ganancias 20% vs Ganancias Tienda
			</h2>
		</div>
		<form class="theme-form">
			<div class="d-flex search">
				<div class="filters">
					<div class="form-group flex-fill mr-1">
						<div class="field-label font-weight-bold">Fecha inicio</div>
						<div class="input-group">
							<input class="form-control lighten-3" placeholder="dd/mm/yyyy" name="d2" ngbDatepicker #d1="ngbDatepicker"
								[(ngModel)]="modelFrom">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
									<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-week-fill"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM0 5h16v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5zm9.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
									</svg>
								</button>
							</div>
						</div>
					</div>
					<div class="form-group flex-fill">
						<div class="field-label font-weight-bold">Fecha fin</div>
						<div class="input-group">
							<input class="form-control lighten-3" placeholder="dd/mm/yyyy" name="d2" ngbDatepicker #d2="ngbDatepicker"
								[(ngModel)]="modelTo">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
									<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-week-fill"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM0 5h16v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5zm9.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="field-label font-weight-bold">Tienda</div>
					<div ngbDropdown>
						<button class="form-control" id="select-btn" ngbDropdownToggle>
							{{ storeSelected.name ? storeSelected.name : 'Selecciona una tienda' }}
						</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<div>
								<button type="button" class="drop-button" *ngFor="let store of stores" [value]="store._id"
									(click)="selectStore(store)" ngbDropdownItem>
									{{store.name}}
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex align-items-center mt-3 ml-2">
					<button class="btn btn-solid-purple btn-find flex-fill" (click)="filtrar()">Buscar</button>
				</div>
			</div>
		</form>
		<form class="theme-form">
			<div class="form-group mt-2 d-flex justify-content-mobile-first">
				<button class="btn btn-outline btn-sm" (click)="ExportTOPDF()">
					Reporte PDF
					<i class="fa fa-file-pdf-o fa-2x"></i>
				</button>
				<button class="btn btn-outline btn-sm mx-1" (click)="ExportTOExcel()">
					Reporte Excel
					<i class="fa fa-file-excel-o fa-2x"></i>
				</button>
			</div>
		</form>

		<div class="table-responsive mt-3">
			<table class="table cart-table table-responsive-xs" id="mp-table" #TABLE>
				<thead>
					<tr class="table-head text-center">
						<th *ngFor="let field of fields" scope="col">{{field}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of products">
						<td class="text-center">{{product.store.name}}</td>
						<td class="text-center">{{ product.store.owner_id.fullname }}</td>
						<td class="text-center"></td>
						<td class="text-center">{{ product.name }}</td>
						<td class="text-center text-capitalize">{{ product.stock }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-row container justify-content-center " *ngIf="products.length==0">
			<div class="col-md-5">
				<div class="card text-center mx-auto mb-2">
					<div class="card-body">
						<p>No hay productos publicados en Marketplace</p>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>