<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<section class="section-b-space">
	<div class="container">
		<div class="page-title mb-5">
			<h2 class="mp-title">
				Ganancias 20% vs Ganancias Tienda
			</h2>
		</div>
		<!-- Filtros de busqueda -->
		<app-filters [storeList]="true" [canExport]="true" (filter)="filtrar($event)"></app-filters>

		<div class="table-responsive mt-3">

			<table class="table cart-table table-responsive-xs">
				<thead>
					<tr class="table-head text-center">
						<th *ngFor="let field of fieldsHeader" scope="col">{{field}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">{{ data.amount_market?.amount | currency }}</td>
						<td class="text-center">{{ data.amount_store?.amount | currency }}</td>
					</tr>
				</tbody>
			</table>

			<table class="table cart-table table-responsive-xs" id="mp-table" #TABLE>
				<thead>
					<tr class="table-head text-center">
						<th *ngFor="let field of fields" scope="col">{{field}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let d of data.result">
						<td class="text-center text-capitalize">{{d.created_at | date }}</td>
						<td class="text-center text-capitalize">{{ d.type? d.type : '' }}</td>
						<td class="text-center">{{d.store_data.name}}</td>
						<td class="text-center" *ngIf="d.earning">{{ d.earning  | currency }}</td>
						<td class="text-center" *ngIf="!d.earning">{{ 0  | currency }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-row container justify-content-center " [hidden]="noData">
			<div class="col-md-5">
				<div class="card text-center mx-auto mb-2">
					<div class="card-body">
						<p>No hay productos publicados en Marketplace</p>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>