<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>

<!-- section start -->
<section class="section-b-space">
	<div class="container ">
		<div class="checkout-page">
			<div class="checkout-form">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12 mb-3">
						<div class="border-box h-100">
							<div class="form-row">
								<div class="checkout-title">
									<h3>Zonas de envío</h3>
								</div>
							</div>
							<div class="d-flex justify-content-center">
								<form [formGroup]="zonesForm" (ngSubmit)="onSubmit()" class="theme-form">

									<div class="form-row d-flex align-items-center">
										<!-- Zone name -->
										<div class="form-group mr-2 ">
											<label for="name">Nombre</label>
											<input type="text" formControlName="name" [(ngModel)]="zone.name" class="form-control" id="name" placeholder="" required
												[ngClass]="{ 'is-invalid': submitted && f.name.errors }">
											<div *ngIf="submitted && f.name.errors" class="invalid-feedback d-block">
												<div *ngIf="f.name.errors.required"> {{ required }} </div>
											</div>
										</div>
										<!-- Zone price -->
										<div class="form-group mx-2">
											<label for="name">Precio</label>
											<input type="text" formControlName="price" [(ngModel)]="zone.price" class="form-control" id="price" placeholder=""  currencyMask required
												[ngClass]="{ 'is-invalid': submitted && f.price.errors }">
											<div *ngIf="submitted && f.price.errors" class="invalid-feedback d-block">
												<div *ngIf="f.price.errors.required"> {{ required }} </div>
											</div>
										</div>
										<div class="form-group ml-2 mt-3">
											<button type="submit" class="btn btn-solid-purple">{{buttonTitle}}</button>
										</div>
									</div>
								</form>
	
							</div>
							<div class="form-row flex-fill flex-column mt-5 px-1">
								<div class="table-responsive">
									<table class="table table-responsive-sm">
										<thead>
											<tr class="table-head">
												<th class="text-center text-uppercase" *ngFor="let field of fields" scope="col">{{field}}</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let zone of allZones">
												<td class="text-center">
													{{ zone.name }}
												</td>
												<td class="text-center"><strong>{{ zone.price | currency }}</strong>
												</td>
												<td class="text-center">
													<a class="btn btn-table-action" (click)="editZone(zone)">
														<i class="fa fa-edit fa-lg" style="color: Dodgerblue"></i>
													</a>
													<a class="btn btn-table-action" (click)="deleteZone(zone._id)">
														<i class="fa fa-close fa-lg" style="color: Tomato"></i>
													</a>
												</td>

											</tr>
										</tbody>

									</table>

								</div>
								<!-- <app-custom-pagination [items]="allZones" [paginate]="paginate" (setPage)="setPage($event)"></app-custom-pagination> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>