<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<section class="section-b-space">
	<div class="container">

		<form class="theme-form">
			<div class="d-flex search">
				<div class="form-group flex-fill" id="state">
					<select name="model" class="form-control" [(ngModel)]="status" (change)="changeStatus()">
						<option value="">Estado</option>
						<option [value]="status" *ngFor="let status of orderStatus" class="text-capitalize">{{ status }}
						</option>
					</select>
				</div>
				<div class="filters">
					<div class="form-group flex-fill mr-1">
						<div class="input-group">
							<input class="form-control lighten-3" placeholder="dd/mm/yyyy" name="d2" ngbDatepicker #d1="ngbDatepicker"
								[(ngModel)]="modelFrom">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
									<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-week-fill"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM0 5h16v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5zm9.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
									</svg>
								</button>
							</div>
						</div>
					</div>
					<div class="form-group flex-fill">
						<div class="input-group">
							<input class="form-control lighten-3" placeholder="dd/mm/yyyy" name="d2" ngbDatepicker #d2="ngbDatepicker"
								[(ngModel)]="modelTo">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
									<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-week-fill"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM0 5h16v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5zm9.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
									</svg>
								</button>
							</div>
						</div>
					</div>

				</div>
				<div class="d-flex h-100">
					<button class="btn btn-solid-purple btn-find flex-fill" (click)="filtrar()">Filtrar</button>
				</div>
			</div>
		</form>

		<!-- Data de usuario -->
		<div class="table-responsive-sm mt-3">
			<table class="table cart-table table-responsive-xs">
				<thead>
					<tr class="table-head text-center">
						<th *ngFor="let field of fields" scope="col">{{field}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let order of orders">
						<td class="text-center">{{order.user.fullname}}</td>
						<td *ngIf="role === 'admin' " class="text-center">{{order.store.name}}</td>
						<td>
							<div class="d-flex justify-content-center flex-wrap" *ngFor="let item of order.items">
								{{ item.product_name }}
							</div>
						</td>
						<td class="text-center">{{ order.amount | currency }}</td>
						<td class="text-center">{{ order.created_at | date }}</td>
						<td class="text-center">{{ order.shipment_option.name }}</td>
						<td class="text-center text-capitalize">{{order.status }}</td>
						<td class="text-center">
							<!-- <button class="btn btn-table-action" (click)="OrderDetails.openModal(order)">Editar</button> -->
							<a (click)="OrderDetails.openModal(order)" class="btn btn-table-action">
								<i class="fa fa-edit fa-lg" style="color: Dodgerblue"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		<app-custom-pagination [items]="orders" [paginate]="paginate" (setPage)="setPage($event)">
		</app-custom-pagination>
	</div>
</section>

<app-order-details #orderDetails></app-order-details>