<!-- personal deatail section start -->
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h3>
                       <span> <strong> Mi Perfil </strong>  </span> 
                    </h3>
                </div>
                <div class="border-box px-2">
                    <form class="theme-form">
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label for="name">Nombre completo</label>
                                <input type="text" class="form-control" id="name" placeholder="Luis Rodriguez" required="">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label for="email">Correo Electrónico</label>
                                <input type="email" class="form-control" id="last-name" placeholder="lrodriguez@gmail.com" required="">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label for="review">Ingrese su contraseña</label>
                                <input type="password" class="form-control" id="review" placeholder="********" required="">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label for="email">Confirmar contraseña</label>
                                <input type="password" class="form-control" id="email" placeholder="********" required="">
                            </div>
                        </div>
                        <div class="row w-100 justify-content-end mb-2">
                            <a class="btn btn-solid">Editar</a>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
