<div class="icon-nav">
  <ul>
    <!-- Cart -->
    <li class="onhover-div mobile-cart" *ngIf="role !== 'admin' && auth.isAuthenticated()">
      <div>
        <a [routerLink]="['/shop/cart']">
          <img src="assets/images/icon/cart.png" class="img-fluid" alt="">
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ products.length }}</span>
      <ul class="show-div shopping-cart " *ngIf='!products.length'>
        <h5>Su carrito está vacío.</h5>
      </ul>
      <ul class="show-div shopping-cart" *ngIf='products.length'>
        <li *ngFor="let product of products">
          <div class="media">
            <a [routerLink]="['/shop/product/left/sidebar/', product.name.replace(' ', '-')]">
              <img class="mr-3" [src]="product?.image[0]" [alt]="product?.name">
            </a>
            <div class="media-body">
              <a [routerLink]="['/shop/product/left/sidebar/', product.name.replace(' ', '-')]">
                <h5>{{ product?.name }}</h5>
              </a>
              <h4>
                <span>
                  {{ product?.quantity }} x
                  {{ product?.price | discount:product | currency }}
                </span>
              </h4>
            </div>
          </div>
          <div class="close-circle" (click)="removeItem(product)">
            <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </li>
        <li>
          <div class="total">
            <h5>subtotal : <span>{{ getTotal | async | currency }}</span>
            </h5>
          </div>
        </li>
        <li>
          <div class="buttons">
            <a  [routerLink]="['/shop/cart']" class="view-cart">Ver carrito</a>
            <a [routerLink]="['/shop/checkout']" class="checkout">Revisa</a>
          </div>
        </li>
      </ul>
    </li>
    <!-- User -->
    <li class="onhover-div mobile-search search-widgets" id="search-widgets">
      <div>
        <img src="assets/images/marketplace/images/icons/profile.png" class="img-fluid" id="user-icon-header" alt="">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
      <div class="show-div setting mp-setting">
        <div *ngIf="!isLoggedIn">
          <a [routerLink]="[ '/pages/login']"><h6>Iniciar sesión</h6></a>
          <a [routerLink]="[ '/pages/register']"> <h6>Registrese</h6></a>
        </div>
        <div *ngIf="isLoggedIn">
          <a [routerLink]="[ '/pages/account/user/profile' ]"> <h6>Perfil</h6></a>
          <h6 href="javascript:void(0)" (click)="loggOut()">Cerrar sesión</h6>
        </div>
      </div>
    </li>
  </ul>
</div>