#settings-page {
    #user-icon-header {
        height: 26px;
        width: 24px;
    }

    .balance {
        width: 70%;
    }

    .text-referred {
        font-size: 0.8rem;
    }
}
.buttons {
    .view-cart, .checkout {
        font-size: 14px !important;
    }
}
