<div class="icon-nav" id="settings-page">
  <ul>

    <!-- Cart -->
    <li class="onhover-div mobile-cart" *ngIf="role !== 'admin'">
      <div>
        <a [routerLink]="['/shop/cart']">
          <img src="assets/images/icon/cart.png" class="img-fluid" alt="">
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ products.length }}</span>
      <ul class="show-div shopping-cart " *ngIf='!products.length'>
        <h5>Su carrito está vacío.</h5>
      </ul>
      <ul class="show-div shopping-cart" *ngIf='products.length'>
        <li *ngFor="let product of products">
          <div class="media">
            <a [routerLink]="['/shop/product/left/sidebar/', product.name.replace(' ', '-')]">
              <img class="mr-3" [src]="product?.images[0]?.url" [alt]="product?.name">
            </a>
            <div class="media-body ">
              <a [routerLink]="['/shop/product/left/sidebar/', product.name.replace(' ', '-')]">
                <small>{{ product?.name }}</small>
              </a>
              <p class="pull-right">
                <span>
                  {{ product?.quantity }} x
                  {{ product?.price | discount:product | currency }}
                </span>
              </p>
            </div>
          </div>
          <div class="close-circle" (click)="removeItem(product)">
            <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </li>
        <li>
          <div class="total">
            <h5>subtotal : <span>{{ getTotal | async | currency }}</span>
            </h5>
          </div>
        </li>
        <li>
          <div class="buttons d-flex justify-content-around">
            <a [routerLink]="['/shop/cart']" [queryParams]="{ config: config  }" class="view-cart">Ver carrito</a>
          </div>
        </li>
      </ul>
    </li>

    <!-- User -->
    <li class="onhover-div mobile-search search-widgets" id="search-widgets">
      <div>
        <img src="assets/images/marketplace/images/icons/profile.png" class="img-fluid" id="user-icon-header" alt="">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
      <div class="show-div setting mp-setting">
        <div *ngIf="!isLoggedIn">
          <a [routerLink]="[ '/pages/login']" [queryParams]="{ role: _role, url: url }">
            <h6 class="mp-item-menu">Iniciar sesión</h6>
          </a>
          <a [routerLink]="[ '/pages/register']" [queryParams]="{ role: _role, url: url }">
            <h6 class="mp-item-menu">Registrese</h6>
          </a>
        </div>
        <div *ngIf="isLoggedIn">
          <a [routerLink]="[ '/pages/account/user/profile' ]">
            <h6 class="mp-item-menu">Perfil</h6>
          </a>
          <h6 href="javascript:void(0)" (click)="loggOut()">Cerrar sesión</h6>
        </div>
      </div>
    </li>

    <!-- Saldo referido -->
    <li *ngIf="showBalance && isLoggedIn" class="onhover-div mobile-balance ">
      <div>
        <img src="assets/images/marketplace/images/icons/saldo.png" class="img-fluid" id="user-icon-header" alt="">
        <i class="ti-money" aria-hidden="true"></i>
      </div>
      <div class="show-div setting mp-setting">
        <div>
          <div class="total d-flex ">
            <div class="balance">
              <p style="font-size: 8pts;">Saldo por referido</p>
            </div>
            <div class="mx-auto">
              <h5><span>{{ balance | currency}}</span></h5>
            </div>
          </div>
          <hr>
          <div class="text-center">
            <div class="mp-item-menu text-referred">
              <button class="btn btn btn-outline-light text-dark btn-sm" (click)="callServiceToCopy()">
                <label for="" class="font-weight-normal">Referir a un amigo</label>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>