<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Por favor espere... </p>
</ngx-spinner>

<!-- section start -->
<section class="section-b-space">
    <div class="container d-flex">

        <div class="checkout-page">
			<div class="checkout-form">
				<form [formGroup]="profileForm" (ngSubmit)="onSubmit()"  class="theme-form">
					<div class="row">
						<div class="col-lg-6 col-sm-12 col-xs-12 mb-3">
							<div class="border-box h-100">
								<div class="checkout-title">
									<h3>Mis Datos</h3>
									<p> Completa estos datos para configurar tu tienda</p>
								</div>
                                
                                <!-- Shop Name -->
                                <div class="form-group">
                                    <div class="field-label font-weight-bold">Nombre de la tienda</div>
                                    <input formControlName="name" type="text" class="form-control" [(ngModel)]="store.name"/>
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.name.errors.required"> {{ required }} </div>
                                    </div>
                                </div>
                                <!-- Phone -->
                                <div class="form-group">
                                    <div class="field-label font-weight-bold">Teléfono</div>
                                    <input formControlName="phone" type="text" class="form-control" [(ngModel)]="store.phone" />
                                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.phone.errors.required"> {{ required }} </div>
                                    </div>
                                </div>
                                <!-- Email -->
                                <div class="form-group">
                                    <div class="field-label font-weight-bold">Correo electrónico</div>
                
                                    <input formControlName="email" type="email" class="form-control" [(ngModel)]="store.email"/>
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.email.errors.required"> {{ required }} </div>
                                        <div *ngIf="f.email.errors.email"> {{ invalidEmail }} </div>
                                    </div>
                                </div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-12 col-xs-12">
							<div class="border-box h-100">
								<div class="shipping-options d-flex flex-column h-100">
									<div class="checkout-title">
										<h3>Mi Plan / Logo</h3>
										<p> Selecciona el tipo de plan que requiere tu negocio y por último 
                                            añade el logo de tu tienda para personalizarla.
                                        </p>
									</div>
									<div class="form-group text-center">
                                        <div class="shipping-option" >
                                            <div class="row mb-3" >
                                                <div class="option-box d-flex mx-auto py-3">
                                                    <div class="col-md-6">
                                                        <p class="my-auto">{{plan.name}} - 
                                                        {{ plan.price | currency }}</p>
                                                    </div>  
                                                    <div class="col offset-xl-4 text-center">
                                                        <input class="my-auto" type="radio" 
                                                        [value]="plan._id" name="plan" checked>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group d-flex justify-content-center">
                                        <img src="../../../assets/images/marketplace/svg/user.svg" alt="" class="img-circle">
                                        <img [src]="store.logo" class="rounded-circle img-thumbnail img-circle" alt="">
                                    </div> -->
                                    <div class="mb-4">
                                        <app-upload-image (uploadImage)="uploadImage($event)"></app-upload-image>
                                    </div>

									<div class="form-gruop text-right">
										<button class="btn btn-solid-purple" type="submit">
											Actualizar
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</section>