<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<section class="section-b-space">
	<div class="container">
		<div class="page-title mb-5">
			<h2 class="mp-title">
				Clientes
			</h2>
		</div>
		<!-- Filtros -->
		<app-filters [storeList]="false" [canExport]="true" [roleList]="true" (filter)="filtrar($event)"></app-filters>

		<ng-container class="table-responsive-sm mt-3" *ngIf="store || role === 'admin'; else elseTemplate">
			<div class="table-responsive mt-3">
				<table class="table cart-table table-responsive-xs" id="mp-table" #TABLE>
					<thead>
						<tr class="table-head text-center" *ngIf="role === 'merchant'">
							<th *ngFor="let field of fields" scope="col">{{field}}</th>
						</tr>
						<tr class="table-head text-center" *ngIf="role === 'admin'">
							<th *ngFor="let field of adminFields" scope="col">{{field}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let client of clients">
							<td class="text-center">{{client.fullname}}</td>
							<td class="text-center">{{ client.email }}</td>
							<td class="text-center" *ngIf="role === 'admin'">{{ client.created_at | date }}</td>
							<td class="text-center text-capitalize" *ngIf="role === 'admin'">{{ client.role }}</td>
							<td class="text-center">
								<a class="btn btn-table-action" (click)="Interests.openModal(client)">
									<i class="fa fa-search fa-lg" style="color: Dodgerblue"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="form-row container justify-content-center " *ngIf="clients.length==0">
				<div class="col-md-5">
					<div class="card text-center mx-auto mb-2">
						<div class="card-body">
							<p>No hay clientes registrados</p>
						</div>
					</div>
				</div>
			</div>
		</ng-container>

		<ng-template #elseTemplate>
			<div class="form-row container justify-content-center ">
				<div class="col-md-5">
					<div class="card text-center mx-auto mb-2">
						<div class="card-body">
							<p *ngIf="!store">
								Aún no has configurado tu tienda
								<a class="btn btn-solid-purple mt-3" [routerLink]="['/pages/account/user/admin-store']">
									Configurar tienda
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
</section>
<app-interests #interests type="interestsList"></app-interests>