<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<section class="section-b-space">
	<div class="container">
		<div class="page-title mb-5">
			<h2 class="mp-title">
				Clientes
			</h2>
		</div>
		<form class="theme-form">
			<!-- Filtros -->
			<div class="d-flex search" *ngIf="role === 'admin'">
				<div class="form-group" id="state">
					<select name="model" class="form-control" [(ngModel)]="_role" (change)="onRoleChange($event.target.value)">
						<option [value]="role.value" *ngFor="let role of roles" class="text-capitalize">{{ role.name }}
						</option>
					</select>
				</div>
				<div class="filters">
					<div class="form-group flex-fill mr-1">
						<div class="input-group">
							<input class="form-control lighten-3" placeholder="dd/mm/yyyy" name="d2" ngbDatepicker #d1="ngbDatepicker"
								[(ngModel)]="modelFrom">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
									<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-week-fill"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM0 5h16v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5zm9.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
									</svg>
								</button>
							</div>
						</div>
					</div>
					<div class="form-group flex-fill">
						<div class="input-group">
							<input class="form-control lighten-3" placeholder="dd/mm/yyyy" name="d2" ngbDatepicker #d2="ngbDatepicker"
								[(ngModel)]="modelTo">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
									<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-week-fill"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM0 5h16v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5zm9.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex h-100">
					<button class="btn btn-solid-purple btn-find flex-fill" (click)="filtrar()">Filtrar</button>
				</div>
			</div>

			<!-- Descargas -->
			<div class="form-group mt-2 d-flex justify-content-mobile-first">
				<button class="btn btn-outline btn-sm" (click)="ExportTOPDF()">
					Reporte PDF
					<i class="fa fa-file-pdf-o fa-2x"></i>
				</button>
				<button class="btn btn-outline btn-sm mx-1" (click)="ExportTOExcel()">
					Reporte Excel
					<i class="fa fa-file-excel-o fa-2x"></i>
				</button>
			</div>
		</form>

		<ng-container class="table-responsive-sm mt-3" *ngIf="store || role === 'admin'; else elseTemplate">
			<div class="table-responsive mt-3">
				<table class="table cart-table table-responsive-xs" id="mp-table" #TABLE>
					<thead>
						<tr class="table-head text-center">
							<th *ngFor="let field of fields" scope="col">{{field}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let client of clients">
							<td class="text-center">{{client.fullname}}</td>
							<td class="text-center">{{ client.email }}</td>
							<!-- <td class="text-center text-capitalize">{{ _role }}</td>
							<td class="text-center">
								<a class="btn btn-table-action" (click)="Interests.openModal(client)">
									<i class="fa fa-search fa-lg" style="color: Dodgerblue"></i>
								</a>
							</td> -->
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <app-custom-pagination [items]="clients" [paginate]="paginate" (setPage)="setPage($event)">
			</app-custom-pagination> -->
			<div class="form-row container justify-content-center " *ngIf="clients.length==0">
				<div class="col-md-5">
					<div class="card text-center mx-auto mb-2">
						<div class="card-body">
							<p>No hay clientes registrados</p>
						</div>
					</div>
				</div>
			</div>
		</ng-container>

		<ng-template #elseTemplate>
			<div class="form-row container justify-content-center ">
				<div class="col-md-5">
					<div class="card text-center mx-auto mb-2">
						<div class="card-body">
							<p *ngIf="!store">
								Aún no has configurado tu tienda
								<a class="btn btn-solid-purple mt-3" [routerLink]="['/pages/account/user/admin-store']">
									Configurar tienda
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
</section>
<app-interests #interests type="interestsList"></app-interests>