<!-- Start Services -->
<div class="product-service">
    <div class="media">
        <img class="icon-service2" id="icon-2" src="assets/images/marketplace/images/1.png" alt="" />
        <div class="media-body">
            <h4>selecciona tu ubicación</h4>
            <p>realiza tu pedido</p>
        </div>
    </div>
    <div class="media">
        <img class="icon-service2" src="assets/images/marketplace/images/2.png" alt="" />
        <div class="media-body">
            <h4>servicio 24 hras</h4>
            <p>recibe pedidos las 24 hras del día</p>
        </div>
    </div>
    <div class="media">
        <img class="icon-service2" src="assets/images/marketplace/images/3.png" alt="" />
        <div class="media-body">
            <h4>Seguridad de envío</h4>
            <p>Verifica tus ordenesy la seguridad del pedido </p>
        </div>
    </div>
</div>
<!-- End Services -->