<div class="container-fluid search">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="theme-form">
    <div class="d-flex w-100">
      <div class="searh-box-mp d-flex w-100">
        <div ngbDropdown style="min-width: 5rem;">
          <button type="button" class="btn font-weight-normal " id="dropdownBasic1" ngbDropdownToggle>
            {{ subCategoryTitle }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" (click)="updateSubCategory(item)" *ngFor="let item of subcategories"
              [value]="item._id" ngbDropdownItem>{{item.name}}</button>
          </div>
        </div>
        <div ngbDropdown style="min-width: 8rem;">
          <button type="button" class="btn font-weight-normal " id="dropdownBasic2" ngbDropdownToggle>
            {{ priceFilterText }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button type="button" (click)="updatePriceFilter(item)" *ngFor="let item of filterOptions"
              [value]="item.value" ngbDropdownItem>{{item.text}}</button>
          </div>
        </div>
        <input formControlName="name" type="text">
      </div>

      <button type="submit" class="btn-solid-orange">
        Buscar
      </button>
    </div>
  </form>
</div>