<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>

<!-- section start -->
<section class="section-b-space">
	<div class="container ">
		<div class="page-title mb-5">
			<h2 class="mp-title">
				Comisiones
			</h2>
		</div>
		<div class="checkout-page">
			<div class="checkout-form">
				<form [formGroup]="commissionsForm" (ngSubmit)="onSubmit()" class="theme-form">
					<div class="row">
						<div class="col-lg-12 col-sm-12 col-md-12 mb-3">
							<div class="border-box h-100">
								<div class="d-flex flex-column">
									<div class="col-lg-5 col-md-6 col-sm-12 form-group">
										<div class="field-label font-weight-bold">Comisión de venta en Marketplace</div>
										<div class="d-flex">
											<input type="number" class="form-control" min="1" formControlName="marketplace_commission"
												[(ngModel)]="commission.marketplace_commission" />
											<img class="h-100" src="assets/images/marketplace/images/icons/percent.png" alt="">
										</div>
										<div *ngIf="submitted && f.marketplace_commission.errors?.required"
											class="invalid-feedback d-block">
											{{required}}
										</div>
									</div>
									<div class="col-lg-5 col-md-6 col-sm-12 form-group">
										<div class="field-label font-weight-bold">Comisión de venta en tienda</div>
										<div class="d-flex">
											<input type="number" class="form-control" min="1" formControlName="store_commission"
												[(ngModel)]="commission.store_commission" />
											<img class="h-100" src="assets/images/marketplace/images/icons/percent.png" alt="">
										</div>
										<div *ngIf="submitted && f.store_commission.errors?.required" class="invalid-feedback d-block">
											{{required}}
										</div>
									</div>
									<div class="col-lg-5 col-md-6 col-sm-12 form-group">
										<div class="field-label font-weight-bold">Comisión por pasarela de pago</div>
										<div class="d-flex">
											<input type="number" class="form-control" min="1" formControlName="payment_gateway_commission"
												[(ngModel)]="commission.payment_gateway_commission" />
											<img class="h-100" src="assets/images/marketplace/images/icons/percent.png" alt="">
										</div>
										<div *ngIf="submitted && f.payment_gateway_commission.errors?.required"
											class="invalid-feedback d-block">
											{{required}}
										</div>
									</div>
								</div>
								<div class="col-lg-12 form-group .justify-content-mobile-first">
									<div class="form-row btn-submit">
										<button type="submit" class="btn btn-solid" [disabled]="!commissionsForm.dirty">Guardar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>