<ul class="timeline" id="timeline">
    <li class="li" [class.complete]="listActive[0]">
        <div class="timestamp">
        </div>
        <div class="status">
        </div>
    </li>
    <li class="li" [class.complete]="listActive[1]">
        <div class="timestamp">
        </div>
        <div class="status">
        </div>
    </li>
    <li class="li" [class.complete]="listActive[2]">
        <div class="timestamp">
        </div>
        <div class="status">
        </div>
    </li>
    <li class="li" [class.complete]="listActive[3]">
        <div class="timestamp">
        </div>
        <div class="status">
        </div>
    </li>
</ul> 