<section class="section-b-space">
    <div class="container d-flex">

        <div class="d-flex flex-column col-lg-9 col-md-9 col-sm-12 border-box">
            <div class="card form-group text-center p-4">
                <h3 class="font-weight-bold">Monto en ventas </h3>
                <h3><strong>{{ amount | currency}}</strong></h3>
                <h4>Te pagaremos el día <strong>{{ paymentDay }}</strong></h4>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="theme-form">
                <div class="form-group">
                    <div class="field-label font-weight-bold">Banco</div>
                    <select formControlName="bank" class="form-control">
                        <option value="" selected>Selecciona uno</option>
                        <option *ngFor="let bank of banks" [value]="bank.name">{{bank.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.bank.errors?.required" class="invalid-feedback d-block">
                        {{ required }}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="field-label font-weight-bold">Titular de la cuenta</div>
                    <input formControlName="name_holder" type="text" class="form-control" id="name_holder" required="">
                    <div *ngIf="submitted && f.name_holder.errors?.required" class="invalid-feedback d-block">
                        {{ required }}
                    </div>
                </div>
                <!-- Acccount -->
                <div class="form-group">
                    <div class="field-label font-weight-bold">Número de la cuenta</div>
                    <input formControlName="account" type="text" class="form-control" id="bank-account" maxlength="20">
                    <div *ngIf="submitted && f.account.errors?.required" class="invalid-feedback d-block">
                        {{ required }}
                    </div>
                </div>
                <!-- Tipo de cuenta -->
                <div class="form-group">
                    <div class="field-label font-weight-bold">Tipo de cuenta</div>
                    <input formControlName="type" type="text" class="form-control" id="titular" required="">
                    <div *ngIf="submitted && f.type.errors?.required" class="invalid-feedback d-block">
                        {{ required }}
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-solid-purple flex-fill" [disabled]="!storeId">Actualizar banco</button>
                </div>
            </form>

        </div>
    </div>
</section>