/* You can add global styles to this file, and also import other style files */

// Variables
/** MarketPlace custom variable *****************************************************/

// Colors
$mp-blue: #3d5afe;
$mp-red: #eba39a;
$mp-purple: #68396d;
$mp-pink-dark: #e37d6f;
$mp-rosa: #fed3c3;
$mp-rosa-light: #fee4da;
$mp-white: #fff;
$mp-gray: #f7f7f7;
// radius
$radius: 0px;
$border: 1px;

// text
.text-red {
  color: $mp-red;
}
.text-blue {
  color: $mp-blue;
}
.text-pink-light {
  color: $mp-pink-dark !important;
}
.text-default-color {
  color: var(--theme-deafult);
}
.text-purple {
  color: $mp-purple;
}

.page-title {
  h2 {
    color: $mp-purple;
  }
}
.background-rosa {
  background-color: $mp-rosa;
  padding: 5% 0;
}

.background-rosa-light {
  // background-color: $mp-rosa-light;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 244, 240, 1) 100%);
  padding: 5% 0;
  margin-top: 2%;
}

.background-gray {
  background-color: $mp-gray;
  padding: 2% 2%;
}

.border-box {
  padding: 13px 13px;
  border: $border solid var(--mp-pink-light);
}

.checkout-page .checkout-form input[type="text"],
.checkout-page .checkout-form input[type="tel"],
.checkout-page .checkout-form input[type="email"],
.checkout-page .checkout-form input[type="url"],
.checkout-page .checkout-form input[type="password"],
.checkout-page .checkout-form input[type="number"],
.checkout-page .checkout-form select,
.checkout-page .checkout-form textarea,
.form-control {
  border: $border solid var(--mp-pink-light);
}

.card {
  border: $border solid var(--theme-deafult);
}

.cart_qty_cls {
  background-color: $mp-purple;
}

input[type="checkbox"] {
  width: 15px !important;
  height: 15px !important;
  background-color: white;
  border: $border solid #ffb6af;
  border-radius: 50% !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  // outline: 2px solid lightblue;
  box-shadow: none;
  font-size: 2em;
}

input[type="checkbox"]:checked {
  background-color: #7d1709;
  line-height: 1rem;
  font-size: 1rem;
  border: $border solid var(--theme-deafult);
}
.btn {
  text-transform: none;
}
.background-default-color {
  background-color: var(--theme-deafult);
}
.btn-solid,
.btn-solid-purple {
  border-radius: $radius;
}
.btn-fb {
  background-color: #4867aa;
  color: var(--white);
  &:hover {
    color: var(--white) !important;
  }
}
.btn-whatsapp {
  background-color: #25d366;
  color: var(--white);
  &:hover {
    color: var(--white) !important;
  }
}

.btn-email {
  background-color: $mp-pink-dark;
  color: var(--white);
  &:hover {
    color: var(--white) !important;
  }
}

.btn-tab {
  padding: 10px 10px;
}

.tab-product {
  padding: 10px 10px;
}
.tab-product-active {
  border-bottom: 3px solid $mp-purple;
}

.separador {
  color: var(--mp-gray);
  hr {
    width: 45%;
    height: 0.03rem;
    background-color: var(--theme-deafult);
  }
}

.timeline {
  height: 10vh;
}

// button white
.btn-white {
  color: $mp-purple;
  background-color: $mp-white;
  border-radius: $radius;
  padding: 13px 29px;
  letter-spacing: 0.05em;
  font-style: initial;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: initial;
}

.btn-login {
  background-color: var(--theme-deafult);
  color: var(--white);
  &:hover {
    color: var(--white);
  }
}
.btn-solid-purple {
  background-color: #68396d;
  color: #fff;
  padding: 13px 13px;
  letter-spacing: 0.05em;
  border: $border solid $mp-purple;
  &:hover {
    color: $mp-purple;
    background-position: 100%;
    background-color: $mp-white;
  }
}
.btn-solid-orange {
  background-color: $mp-red;
  color: #fff;
  padding: 13px 13px;
  letter-spacing: 0.05em;
  border: $border solid $mp-red;
  &:hover {
    color: $mp-purple;
    background-position: 100%;
    background-color: $mp-white;
  }
}
.box-mobile-first {
  display: flex;
  flex-direction: column;
}
.btn-submit {
  justify-content: center;
}

.justify-content-mobile-first {
  justify-content: center !important;
}

.login-page .theme-card {
  border: $border solid var(--mp-pink-light);
  & .theme-form input {
    border: $border solid var(--mp-pink-light);
  }
}
.mp-title {
  font-size: 24px;
  text-transform: capitalize;
}
.title-purple {
  & h2 {
    color: $mp-purple;
    font-weight: 700;
    text-transform: inherit;
  }
}

.field-label {
  line-height: 24px;
  text-transform: capitalize;
  color: #333333;
  margin-bottom: 10px;
  font-weight: 700;
  span {
    font-size: 16px;
    color: var(--dark-font);
    font-weight: 600;
  }
}

.slider-contain {
  display: flex;
  justify-content: flex-end;
  padding-right: 20%;
  padding-top: 10%;
}

.icon-service {
  height: 80px;
}

.icon-service2 {
  height: 60px;
}

#icon-1 {
  height: 100px;
}
#icon-2 {
  height: 70px;
}

.icon-small {
  width: 40px;
  height: 40px;
  margin-top: -7px;
}
/* ==============
    Alerts styles start
   ==============
*/
.app-alerts .app-alert.info {
  opacity: 1 !important;
}

.app-alerts .app-alert.warning {
  opacity: 1 !important;
}

.app-alerts .app-alert.success {
  opacity: 1 !important;
}

.app-alerts .app-alert.danger {
  opacity: 1 !important;
}
/* ==============
    Alerts styles ends
   ==============
*/
/* ==============
    Productos -Create/Edit Modal styles 
   ==============
*/
.createProductModal {
  display: flex !important;
  justify-content: center;
  .modal-dialog {
    width: 100vw;
    margin: 0 0 0 0;
    max-width: 100% !important;
    .modal-content {
      padding: 10px 10px;
    }
  }
}
/* ==============
    Productos -Create/Edit Modal styles ends 
   ==============
*/
/* ==============
    Alerts styles ends
   ==============
*/
.section-b-space {
  padding-top: 25px;
  padding-bottom: 50px;
  //border-bottom: $border solid #ccc;
}
.container-fill {
  width: 100%;
}
.container {
  padding-left: 2px;
  padding-right: 2px;
}
// Landing Page
.btn-inside-slider {
  position: initial;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  z-index: 8;
}

.img-main-banner {
  width: 100% !important;
}
.vertical-banners {
  display: none !important;
}

.vertical-banners-carousel {
  display: inline !important;
}
.info-plan {
  flex-direction: column;
  .left-info {
    background-color: #f2f2f2;
    padding: 10px 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    hr {
      width: 50%;
    }
    .info-header {
      padding: 0px 40px;
    }
    .info-body {
      width: 60%;
      h3 {
        font-size: 32px;
        text-transform: inherit;
        color: $mp-purple !important;
      }
      h5 a {
        color: $mp-purple !important;
        letter-spacing: 0;
      }
      .row {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .rigth-info {
    padding: 10px 5px;
    margin: 0 auto;
    width: 80%;
    background-color: $mp-rosa;
    hr {
      width: 50%;
    }
    .info-header {
      padding: 0px 40px;
    }
    .info-body {
      width: 60%;
      h3 {
        color: $mp-purple !important;
      }
      h5 a {
        color: $mp-purple !important;
      }
      h3 {
        font-size: 32px;
        text-transform: inherit;
      }
      .row {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
} // end  .info-plan

.plan-btns {
  h5 a {
    color: $mp-purple !important;
  }
}
.question {
  width: 80%;
  padding: 13px 13px;
  border: $border solid #ccc;
  p {
    font-weight: 700;
    font-size: 18px;
  }
}
.answer {
  width: 100%;
  // border: $border solid #ccc;
  // border-top: 0px;
}
form {
  input {
    margin-bottom: 0px !important;
  }
  span {
    img {
      height: auto;
      width: 18px;
    }
  }
}

.label {
  padding: 13px 13px;
  margin-bottom: 3%;
  margin-left: 3px;
  margin-right: 3px;
}
.labels {
  flex-direction: column;
  margin-bottom: 3%;
  margin-top: 6%;
}

#exampleFormControlTextarea1 {
  font-weight: inherit !important;
  margin-bottom: 3%;
}

/* ==============
    ShopDesign - Alerts
   ==============
*/
.app-alerts {
  .app.alert.info {
    background-color: green !important;
  }
}

/* ==============
    ShopDesign -Carousel start
   ==============
*/
ngb-carousel {
  width: 100%;
  max-width: 100%;
  max-height: 50vh;
  margin-top: 2%;
  & .carousel-inner {
    height: 100%;
    .carousel-item.active {
      z-index: 7;
    }
  }
  & .carousel-control-next {
    z-index: 8;
  }
}
.carousel-control-prev,
.carousel-control-next {
  top: 45%;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.store-design-img,
.vertical-banner-img {
  width: 100%;
  height: auto;
  max-height: 50vh;
  outline: none;
}

.carousel-inner {
  overflow: visible;
  height: 100%;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.carousel-control-prev {
  left: 7%;
  z-index: 20;
}

.carousel-control-next {
  right: 7%;
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}

.preview-box {
  visibility: hidden;
}
.mp-product-slide {
  & .carousel-inner,
  .carousel-item,
  .picsum-img-wrapper,
  img {
    max-height: 50vh;
  }
}
.upload-image-carousel {
  & .carousel-inner {
    display: flex;
    align-items: center;
  }
  & .carousel-inner,
  .carousel-item,
  .picsum-img-wrapper,
  img {
    max-height: 40vh;
  }
}
.upload-image-carousel {
  margin-bottom: 5px !important;
}
/* ==============
    ShopDesign -Carousel ends
   ==============
*/

.register-page-mp {
  h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #222;
    font-weight: 700;
    margin-top: -4px;
  }
  .theme-card {
    padding: 30px;
    border: $border solid #ddd;
    line-height: 1;
    .theme-form {
      label {
        text-transform: capitalize;
        color: var(--font-color);
        font-size: 14px;
        font-weight: 600;
      }
      input {
        border-color: #ddd;
        font-size: 12px;
        padding: 17px 25px;
        margin-bottom: 30px;
      }
    }
  }
}

.icon-label {
  background-color: var(--red);
}

.input-group-prepend {
  height: 50px;
}

.search {
  width: 100%;
  flex-direction: row;
  gap: 0.25rem;
}

.filters {
  display: flex;
  flex-direction: row;
}
/* ==============
    Product - Box One start
   ==============
*/
.lable4 {
  color: $mp-purple !important;
}
.product-detail {
  margin-top: 25px;
  padding-left: 15px !important;
}
/* ==============
    Product - Box One ends
   ==============
*/

/* ==============
    Product - left-sidebar start
   ==============
*/
.product-right h2 {
  margin-bottom: 5px;
}
/* ==============
    Product - left-sidebar ends
   ==============
*/

/**/
.billing-box .qty li {
  position: relative;
  display: block;
  font-size: 15px;
  color: #444444;
  line-height: 20px;
  margin-bottom: 20px;

  &span {
    float: right;
    font-size: 18px;
    line-height: 20px;
    color: #232323;
    font-weight: 400;
    width: 35%;
  }
}

.option-box {
  width: 90%;
  border: $border solid var(--mp-pink-light);
}
/**/
.footer-logo {
  img {
    height: 42px;
  }
}
.mp-item-menu {
  margin-bottom: 15px !important;
}
.mp-side-menu {
  display: none !important;
}
.mp-side-menu-responsive {
  display: inline !important;
}

#user-icon {
  height: 22.9px;
  width: 21.5px;
}

.br {
  margin: 0 0 !important;
  margin-top: -15px !important;
}

// Media Queries
/* Smartphones (portrait & landscape) */
@media (min-width: 320px) and (max-width: 575px) {
  #icon-2 {
    height: 50px;
  }

  .search {
    height: 100%;
    padding-left: $border !important;
    padding-right: $border !important;
  }

  .mp-setting {
    top: unset !important;
    bottom: 42px !important;
    left: 0 !important;
  }

  .main-menu .menu-right .icon-nav .mobile-cart .show-div.shopping-cart {
    left: auto !important;
  }
}

@media (min-width: 360px) {
  // .btn-inside-slider{
  //   position: relative;
  //   // bottom: 10vh;
  //   // left: 50px;
  // }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preview-box {
    visibility: visible;
  }
}

@media (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  // .btn-inside-slider{
  //   position: relative;
  //   // bottom: 10vh;
  //   // left: 50px;
  // }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preview-box {
    visibility: visible;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .labels {
    flex-direction: row;
  }
  .btn-inside-slider {
    position: relative;
    bottom: 28vh;
    left: 80px;
  }

  .info-plan {
    flex-direction: row;
    .left-info {
      background-color: #f2f2f2;
      padding: 25px 10px;
      width: 80%;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-right: 10px;
      .info-body {
        width: 60%;
        h3 {
          font-size: 32px;
          text-transform: inherit;
          color: $mp-purple !important;
        }
        h5 a {
          color: $mp-purple !important;
          letter-spacing: 0;
        }
        .row {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
    .rigth-info {
      padding: 25px 10px;
      margin-right: 10px;
      width: 80%;
      background-color: $mp-rosa;
      h3 {
        color: $mp-purple !important;
      }
      hr {
        width: 50%;
      }
      .info-body {
        width: 60%;

        h5 a {
          color: $mp-purple !important;
        }
        h3 {
          font-size: 32px;
          text-transform: inherit;
        }
        .row {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .mp-side-menu {
    display: inline !important;
  }
  .mp-side-menu-responsive {
    display: none !important;
  }

  .vertical-banners {
    display: inline !important;
  }

  .vertical-banners-carousel {
    display: none !important;
  }

  .createProductModal {
    .modal-dialog {
      width: auto;
      max-width: 80% !important;
      margin: 1.75rem auto;
    }
  }
}

@media (min-height: 800px) {
  // .btn-inside-slider{
  //   bottom: 35vh;
  // }
}

@media (min-height: 960px) {
  // .btn-inside-slider{
  //   bottom: 30vh;
  // }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .box-mobile-first {
    flex-direction: row;
  }
  .btn-submit {
    justify-content: end;
  }

  .justify-content-mobile-first {
    justify-content: start !important;
  }

  // .btn-inside-slider{
  //   position: relative;
  //   bottom: 30vh;
  //   left: 150px;
  // }

  .info-plan {
    .rigth-info {
      width: 40%;
      margin-left: 10px;
      margin-right: auto;
    }
    .left-info {
      width: 40%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-height: 1024px) {
  // .btn-inside-slider{
  //   position: relative;
  //   left: 25vw;
  //   bottom: 30vh;
  // }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-height: 960px) {
  // .btn-inside-slider{
  //   position: relative;
  //   left: 25vw;
  //   bottom: 30vh;
  // }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-height: 800px) {
  // .btn-inside-slider{
  //   position: relative;
  //   left: 25vw;
  //   bottom: 42vh;
  // }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-bordered {
  border-collapse: collapse;
  border: $border solid $mp-red;
  thead {
    border: $border solid $mp-red;
  }
  thead,
  tr,
  th,
  td {
    border: $border solid $mp-red;
  }
}
