.img-wrapper {
    max-width: 55vh;
}

.img-wrapper-fix {
    height: 55vh;
}
.custom-front {
    height: 30vh;
}
@supports (object-fit: contain) {
    .front a img {
        max-height: 30vh;
        height: auto;
        object-fit: contain;
    }
}

h6 {
    color: var(--theme-deafult);
}

#mobile-cart-view {
    border: none;
}

.btn-for-mobile {
    display: flex;
}

.btn-for-big-screen {
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
}
.img-mobile {
    width: 100% !important;
}
@media (min-width: 768px) {
    .btn-for-mobile {
        display: none;
    }
    .btn-for-big-screen {
        background-color: rgba(255, 255, 255, 0.6);
        display: inline;
    }

    .front a img {
        max-height: 30vh;
        height: auto;
    }

    .img-mobile {
        width: 25% !important;
    }
}
