<div *ngIf="!loader">
  <div class="img-wrapper d-flex align-items-center" [ngClass]="{ 'img-wrapper-fix': horizontal }"
    [ngClass]="{ 'img-mobile': cartModal }">
    <div class="front my-auto" [ngClass]="{'auto-height': cartModal, 'custom-front': !cartModal}">
      <a [routerLink]="['/shop/product/', product._id]" [queryParams]="{ config: config  }">
        <img [lazyLoad]="product.images[0]?.url" class="img-fluid" alt="{{ product.name }}" />
      </a>
    </div>
    <div class="back" *ngIf="onHowerChangeImage"></div>
    <ul class="product-thumb-list" *ngIf="thumbnail">
      <li class="grid_thumb_img" [class.active]="ImageSrc == image.src" *ngFor="let image of product.images">
        <a href="javascript:void(0)" (mouseover)="ChangeVariantsImage(image)">
          <img [lazyLoad]="image.url">
        </a>
      </li>
    </ul>
    <div class="cart-info cart-wrap btn-for-big-screen">
      <a href="javascript:void(0)" id="mobile-cart-view" title="Agregar al carrito" (click)="addToCart(product)"
        *ngIf="cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" id="2" title="Agregar al carrito" (click)="addToCart(product)" *ngIf="!cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" id="2" title="Detalle del producto" (click)="QuickView.openModal()">
        <i class="ti-search" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="row mt-3 btn-for-mobile">
    <div class="col-6 d-flex justify-content-center">
      <a href="javascript:void(0)" id="mobile-cart-view" title="Agregar al carrito" (click)="addToCart(product)"
        *ngIf="cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" id="2" title="Agregar al carrito" (click)="addToCart(product)" *ngIf="!cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <a href="javascript:void(0)" id="2" title="Detalle del producto" (click)="QuickView.openModal()">
        <i class="ti-search" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <!-- Detalle del producto -->
  <div class="product-detail">
    <div>
      <a [routerLink]="['/shop/product/', product._id]" [queryParams]="{ config: config }">
        <h6>{{ product?.name | titlecase }}</h6>
      </a>
      <div *ngIf="colors.length" class=" d-flex flex-column mb-2">
        <ul class="color-variant" style="padding-top: 0px !important;" *ngIf="!search">
          <li [class]="color" *ngFor="let color of colors; index as i"
            [ngStyle]="{'background-color': color.value, 'border': 'solid thin black'}">
          </li>
        </ul>
        <div *ngIf="search">
          <div *ngFor="let color of colors; index as i">
            <ul class="color-variant" style="padding-top: 0px !important;">
              <li [class]="color" [ngStyle]="{'background-color': color.value, 'border': 'solid thin black'}">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="!colors.length" style="height: 1.7rem;">
        <small>No hay colores disponibles</small>
      </div>
      <p class="mt-1 ">Colores disponibles</p>

      <div>
        <p>Tamaños: {{sizes.length ? sizes: 'No hay tamaños disponibles' }}</p>
      </div>
      <h4>
        {{ product?.price | currency }}
        <small>({{product?.stock}} unidades disponibles)</small>
      </h4>
      <p class="mt-2">Calificación del producto</p>
      <bar-rating [readOnly] name="rating" [(rate)]="productRate" [max]="5" disabled></bar-rating>
      <div *ngIf="storePage" class="row">
        <button class="btn btn-solid-orange fill w-100 mx-3" (click)="addToCart(product)"
          [ngStyle]="{'background-color': colorBtn, 'border-color': colorBtn}">Agregar al carrito</button>
      </div>
    </div>
  </div>
</div>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
<app-cart-modal #cartModal [product]="product" [currency]="currency" *ngIf="cartModal"></app-cart-modal>