<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
	<p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<ngx-alerts></ngx-alerts>

<section class="login-page section-b-space" *ngIf="!registerSuccess">
	<div class="container">
		<div class="d-flex flex-column justify-content-center">
			<!-- TIMELINE -->
			<div class="d-flex mb-3 timeline" *ngIf="role === 'merchant'">
				<app-timeline class="mx-auto" [active]="1"></app-timeline>
			</div>
			<!-- TIMELINE-->
			<div class="mx-auto col-lg-6">
				<h2 class="mp-title">Registrate ahora {{ title }}</h2>
				<div class="theme-card">
					<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="theme-form">
						<!-- FullName -->
						<div class="form-group ">
							<label for="name">Nombre completow</label>
							<input type="text" formControlName="fullname" class="form-control" id="fullname" required=""
								[(ngModel)]="user.fullname"
								pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
							<div *ngIf="submitted && f.fullname.errors" class="invalid-feedback d-block">
								<div *ngIf="f.fullname.errors.required"> {{ required }} </div>
								<div *ngIf="f.fullname.errors.pattern"> {{ onlyLetter }} </div>
							</div>
						</div>
						<!-- Email -->
						<div class="form-group">
							<label for="name">Correo electrónico</label>
							<input type="email" formControlName="email" class="form-control" id="email" required=""
								[(ngModel)]="user.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

							<div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
								<div *ngIf="f.email.errors.required"> {{ required }} </div>
								<div *ngIf="f.email.errors.email"> {{ invalidEmail }} </div>
							</div>
						</div>
						<!-- Password -->
						<label for="name">Ingrese su contraseña</label>
						<div class="input-group mb-3">
							<input [type]="isPassword ? 'password' : 'text'" formControlName="password" class="form-control"
								id="adminPass" placeholder="" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
							<div class="input-group-prepend">
								<button class="btn btn-outline-primary" type="button" (click)="isPassword = !isPassword">
									<i [class]="isPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"></i>
								</button>
							</div>
							<div *ngIf="submitted && f.password.errors" class="invalid-feedback d-block">
								<div *ngIf="f.password.errors.required"> {{ required }} </div>
								<div *ngIf="f.password.errors.minlength"> La contraseña debe tener al menos 8 caracteres </div>
							</div>
						</div>
						<!-- Confirm Password -->
						<label for="name">Confirme Ingrese su contraseña</label>
						<div class="input-group mb-3">
							<input [type]="isPasswordR ? 'password' : 'text'" formControlName="passwordConfirmation"
								class="form-control" id="adminPass" placeholder="" required
								[ngClass]="{ 'is-invalid': submitted && f.passwordConfirmation.errors }">
							<div class="input-group-prepend">
								<button class="btn btn-outline-primary" type="button" (click)="isPasswordR = !isPasswordR">
									<i [class]="isPasswordR ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"></i>
								</button>
							</div>
							<div *ngIf="submitted && f.passwordConfirmation.errors" class="invalid-feedback">
								<div *ngIf="f.passwordConfirmation.errors.required">{{ required }}</div>
								<div *ngIf="f.passwordConfirmation.errors.mustMatch">{{ matchError }}</div>
								<div *ngIf="f.passwordConfirmation.errors.minlength"> La contraseña debe tener al menos 8 caracteres
								</div>
							</div>
						</div>
						<div class="form-group d-flex justify-content-end">
							<p>¿Tienes una cuenta?, haga click <a href="javascript:void(0)" (click)="goLogin()">aquí</a>
							</p>
						</div>
						<div class="form-group text-center">
							<button type="submit" class="btn btn-login btn-lg btn-block">Regístrate ahora</button>
							<div class="row mt-1 mb-1 align-items-center separador">
								<hr>
								0
								<hr>
							</div>
							<div class="btn btn-fb btn-lg btn-block" (click)="registerFacebook()">
								<div class="row">
									<div class="col-md-1"> <i class="fa fa-facebook-square"></i> </div>
									<div class="col justify-content-center">Continuar con Facebook</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- section start store register -->
<app-register-store *ngIf="registerSuccess" (emitEvent)="listen($event)" #registerStore></app-register-store>