<app-breadcrumb [title]="'Registro'" [breadcrumb]="'Register'"></app-breadcrumb>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Por favor espere... </p>
</ngx-spinner>
<ngx-alerts></ngx-alerts>

<!-- section start -->
<section class="login-page section-b-space" *ngIf="!registerSuccess">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3>Registrate ahora</h3>
                <div class="theme-card">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="theme-form">
                        <!-- FullName -->
                        <div class="form-group input-group">
                            <input type="text" formControlName="fullname" class="form-control" id="fullname"
                                placeholder="Nombre" required="">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/user.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.fullname.errors.required"> {{ required }} </div>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-group input-group">
                            <input type="email" formControlName="email" class="form-control" id="email"
                                placeholder="Correo electrónico" required=""
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/email.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.email.errors.required"> {{ required }} </div>
                                <div *ngIf="f.email.errors.email"> {{ invalidEmail }} </div>
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group input-group">
                            <input type="password" formControlName="password" class="form-control" id="password"
                                placeholder="Ingrese su contraseña" required=""
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/key.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && f.password.errors">
                                <div *ngIf="f.password.errors.required" class="invalid-feedback d-block"> {{ required }}
                                </div>
                            </div>
                        </div>
                        <!-- Confirm Password -->
                        <div class="form-group input-group">
                            <input type="password" formControlName="passwordConfirmation" class="form-control"
                                id="passwordConfirmation" placeholder="Ingrese su contraseña nuevamente" required=""
                                [ngClass]="{ 'is-invalid': submitted && f.passwordConfirmation.errors }">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/key.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && f.passwordConfirmation.errors" class="invalid-feedback">
                                <div *ngIf="f.passwordConfirmation.errors.required">{{ required }}</div>
                                <div *ngIf="f.passwordConfirmation.errors.mustMatch">{{ matchError }}</div>
                            </div>
                        </div>
                        <!-- <div class="form-group input-group">
                            <select formControlName="role" class="form-control" name="category" required>
                                <option value="">Seleccione Role</option>
                                <option value="merchant">Tienda</option>
                                <option value="client">Cliente</option>
                            </select>
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../../assets/images/marketplace/svg/user.svg" alt="">
                                </span>
                            </div>
                            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                <div *ngIf="f.role.errors.required">{{ required }}</div>
                            </div>
                        </div> -->
                        <div class="form-group text-center">
                            <button class="btn btn-solid">Registrarme</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<!-- section start store register -->
<app-register-store *ngIf="registerSuccess"></app-register-store>
<!-- section ends-->