<div class="container-fluid">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="theme-form">
    <!-- <div class="form-group input-group">
      <div class="input-group-prepend">
        <select class="dropdown-primary dropsown-search" searchable="Search here.." formControlName="category">
          <option value="" selected>Explora</option>
          <option *ngFor="let item of categories" [value]="item._id">{{item.name}}</option>
        </select>
      </div>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Buscar...">
      <div class="input-group-prepend">
        <button type="submit" class="btn">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd"
              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
          </svg>
        </button>
      </div>
    </div> -->
    <div class="d-flex w-100">
      <div class="searh-box-mp d-flex w-100">
        <div ngbDropdown class="">
          <button type="button" class="btn font-weight-normal " id="dropdownBasic1" ngbDropdownToggle>{{textCategory}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" (click)="updateCategory(item)" *ngFor="let item of categories" [value]="item._id" ngbDropdownItem>{{item.name}}</button>
          </div>
        </div>
        <input formControlName="searchText" type="text">
      </div>
      
      <button type="submit" class="btn">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
      </button>
    </div>
  </form>
</div>