<div class="container-fluid">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="theme-form">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explora</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
      <input type="text" formControlName="search" class="form-control" id="search" placeholder="Buscar...">
    </div>
  </form>
</div>