.input-group-text {
  background-color: transparent;
}

.dropsown-search{
  width: 12vw;
  border-color: #ced4da;
}

.dropdown-toggle {
  white-space: normal;
  font-size: 0.7rem;
}

.searh-box-mp {
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 0.2rem 0.2rem;
}

input {
  border: none;
  background-color: transparent;
  padding-left: 2px;
  padding-right: 2px;
  width: 70%;
}

.dropdown-menu.show {
  overflow: auto;
  max-height: 80vh;
  scrollbar-color: var(--theme-deafult) #ccc;
}

.dropdown-item:hover {
  background-image: none;
  background-color: var(--theme-deafult);
  color: var(--white);
}