<ng-template #orderDetails let-modal>

  <div class="modal-content" style="border: 1px solid #eba39a;">
    <div class="modal-header" style="border: 1px solid #eba39a;">
      <div class="page-title row">
        <h4 class="px-3">
          <span> <strong>Orden </strong> </span>
        </h4>
      </div>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="theme-form">
        <form>
          <div class="form-group" *ngIf="role !=='admin'">
            <h4>Cliente: {{order.user.fullname}}</h4>
          </div>
          <div class="form-group" *ngIf="role!=='admin'">
            <h4>Entrega: {{order.shipment_option.name}}</h4>
          </div>
          <div class="form-group" *ngIf="role!=='admin'">
            <h4>Dirección: {{order.address.address}}</h4>
          </div>
          <div class="form-group" *ngIf="role!=='admin'">
            <h4>Estado: {{order.status}}</h4>
          </div>
          <div class="col-md-6" *ngIf="role==='merchant'">
            <select name="model" class="form-control" [(ngModel)]="order.status">
              <option [value]="state" *ngFor="let state of states">{{state}}</option>
            </select>
          </div>
          <div class="table-responsive-sm mt-2">
            <table class="table table-bordered">
              <thead>
                <th style="border: 1px solid #eba39a;" *ngFor="let field of fields" scope="col" class="text-center">
                  {{field}}</th>
              </thead>
              <tbody>
                <tr *ngFor="let product of order.items">
                  <td class="text-center">{{ product.product_name }}</td>
                  <td class="text-center">{{ product.total_price | currency }}</td>
                  <td class="text-center">{{ product.shipment_amount | currency }}</td>
                  <td class="text-center">{{ product.quantity }}</td>
                  <td class="text-center">{{ product.tax | currency }}</td>
                  <td class="text-center">{{ order.deliveryDays | date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group d-flex justify-content-end" *ngIf="role!=='client'">
            <button class="btn btn-solid-orange" (click)="updateStatus()">Cambiar estado</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</ng-template>