section {
  padding-top: 10px;
}


.border-box {
  padding: 5px 5px;
}

.img-thumbnail {
  border: none;
}

.img-thumbnail-fake{
  border: 1px solid #ccc;
  max-height: 90px;
  object-fit: contain;
  width: 60% !important;
  padding: 5px;
}

.fakeImage {
  width: 35%;
  max-width: 35%;
}

.image-upload {
  input {
    display: none;
  }
}
/*====================*/
.preview {
  height: 100%;
  width: 100%;
  max-width: 10rem;
}

.preview-box {
  display: none !important;
}

.preview{
  & img{
      max-height: 130px;
      transform:scale(1);
      -ms-transform:scale(1); // IE 9 
      -moz-transform:scale(1); // Firefox 
      -webkit-transform:scale(1); // Safari and Chrome 
      -o-transform:scale(1); // Opera 
      -webkit-transition: all 500ms ease-in-out; // IE 9
      -moz-transition: all 500ms ease-in-out; // Firefox
      -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
      -o-transition: all 500ms ease-in-out; // Opera       
  }      
  .img-btn {
      opacity: 0;
  }
  &:hover{
      img{
          transform:scale(0.8);
          -ms-transform:scale(0.8); // IE 9 
          -moz-transform:scale(0.8); // Firefox 
          -webkit-transform:scale(0.8); // Safari and Chrome 
          -o-transform:scale(0.8); // Opera
      }
      .img-btn{
          transform:translate(0px,-20px);
          opacity: 1;
      }
  } 
}

ngb-carousel {
  //height: 45vh;
  max-width: 45vh;
  margin-bottom: 50px;
}

.store-design-img {
  width: 100%;
}
.store-design-img {
  width: 100%;
  height: auto;    
}
.mp-preview-img {
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .store-design-img {
      height: 100%;
      object-fit: contain;
      object-position: center center;
  }
  .mp-preview-img {
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }
}
@media (min-width: 576px){
  .preview-box {
    // overflow-y: hidden;
    // overflow-x: scroll;
    height: auto;
    //max-height: 15vh;
    display: flex !important;
    padding-bottom: 1.5rem;
  }
}

/*=============*/
@media (min-width:768px){
  
  .fakeImage {
    width: 25%;
    max-width: 25%;
  }

  
}